<template id="connection-indicator-template">
  <style scoped>
    .status {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 1rem;
    }

    .status .tooltip {
      display: flex;
    }

    .status-dot {
      height: 1rem;
      width: 1rem;
      margin-left: 0.8rem;
      border-radius: 50%;
      display: inline-block;
      /* Disconnected state */
      border: 1px solid rgb(255, 82, 82);
      background-color: red;
    }

    connection-indicator[connected="true"] .status-dot {
      border: 1px solid rgb(190, 255, 170);
      background-color: rgb(116, 238, 116);
    }

    .connected-text {
      display: none;
    }

    connection-indicator[connected="true"] .connected-text {
      display: block;
    }

    .disconnected-text {
      display: block;
    }

    connection-indicator[connected="true"] .disconnected-text {
      display: none;
    }
  </style>
  <div class="status">
    <p>Connection</p>
    <div class="tooltip tooltip-bottom">
      <span class="status-dot"></span>
      <div class="tooltip-text">
        <p class="connected-text">
          You are connected to TinyPilot.
        </p>
        <p class="disconnected-text">
          Could not connect to TinyPilot:
          <span id="disconnect-reason"></span>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
  (function () {
    const doc = (document._currentScript || document.currentScript)
      .ownerDocument;
    const template = doc.querySelector("#connection-indicator-template");

    customElements.define(
      "connection-indicator",
      class extends HTMLElement {
        constructor() {
          super();
        }

        connectedCallback() {
          const temp = document.importNode(template.content, true);
          this.appendChild(temp);
        }

        get connected() {
          return this.getAttribute("connected");
        }

        set connected(newValue) {
          this.setAttribute("connected", newValue);
        }

        get disconnectReason() {
          return this.querySelector("#disconnect-reason").textContent;
        }

        set disconnectReason(newValue) {
          this.querySelector("#disconnect-reason").innerText = newValue;
        }
      }
    );
  })();
</script>
