<div class="navbar">
  <div class="brand"><img src="/img/slim-logo-white.png" /></div>
  <ul class="nav-items">
    <li class="dropdown">
      <a>Commands</a>
      <ul>
        <li>
          <a id="paste-btn">Paste</a>
        </li>
        <li>
          <a>Cursor<span class="caret"></span></a>
          <ul id="cursor-list">
            <!-- JavaScript populates this list dynamically. -->
          </ul>
        </li>
        <li>
          <a id="screenshot-btn" href="/snapshot">Screenshot</a>
        </li>
        <li>
          <a id="fullscreen-btn">Full Screen</a>
        </li>
        <li>
          <a id="update-btn">Update</a>
        </li>
        <li>
          <a id="change-hostname-btn">Change hostname</a>
        </li>
      </ul>
    </li>

    <li class="connection-indicator">
      <connection-indicator id="connection-indicator"></connection-indicator>
    </li>

    <li class="nav-icon source-link">
      <a href="https://github.com/mtlynch/tinypilot">
        <img src="/img/GitHub-Mark-Light-120px-plus.png" />
      </a>
    </li>
    <li class="nav-icon power">
      <a id="power-btn" href="#">
        <img src="/img/power-icon.png" />
      </a>
    </li>
  </ul>
</div>
