<div class="navbar">
  <div class="brand"><img src="/img/slim-logo-white.png" /></div>
  <ul class="nav-items">
    <li class="dropdown">
      <a>Commands</a>
      <ul>
        <li>
          <a id="paste-btn">Paste</a>
        </li>
        <li>
          <a>Cursor<span class="caret"></span></a>
          <ul>
            <li class="dropdown-item"><a href="#" onclick="return setCursor(this);" data-cursor="default">Default</a></li>
            <li class="dropdown-item"><a href="#" onclick="return setCursor(this);" data-cursor="none">None</a></li>
            <li class="dropdown-item"><a href="#" onclick="return setCursor(this);" data-cursor="crosshair">Crosshair</a></li>
            <li class="dropdown-item"><a href="#" onclick="return setCursor(this);" data-cursor="dot">Dot</a></li>
            <li class="dropdown-item"><a href="#" onclick="return setCursor(this);" data-cursor="pointer">Pointer</a></li>
            <li class="dropdown-item"><a href="#" onclick="return setCursor(this);" data-cursor="cell">Cell</a></li>
          </ul>
        </li>
      </ul>
    </li>

    <li class="connection-indicator">
      <connection-indicator id="connection-indicator"></connection-indicator>
    </li>

    <li class="nav-icon source-link">
      <a href="https://github.com/mtlynch/tinypilot">
        <img src="/img/GitHub-Mark-Light-120px-plus.png" />
      </a>
    </li>
    <li class="nav-icon power">
      <a id="power-btn" href="#">
        <img src="/img/power-icon.png" />
      </a>
    </li>
  </ul>
</div>
