<style>
  .remote-share-mount-selector {
    background-color: coral;
    position: absolute;
    height: 100px;
    width: 100px;
  }

  .remote-fs-smb-selected {
    display: none;
  }
  .remote-fs-smb-selected[show="true"] {
    display: inline;
  }
  #remote-share-mount-selector {
    display: none;
  }
  #remote-share-mount-selector[show="true"] {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24pt;
    z-index: 1;
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .overlay {
    position: absolute;
    top: auto;
    left: auto;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .modal {
    width: 500px;
    height: 300px;
    line-height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    background-color: #f1c40f;
    border-radius: 5px;
    text-align: center;
    z-index: 11; /* 1px higher than the overlay layer */
  }
  .form-style-1 {
    margin: 10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
  .form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
  }
  .form-style-1 label {
    margin: 0 0 3px 0;
    padding: 0px;
    /*display: block;*/
    font-weight: bold;
  }
  .form-style-1 input[type="text"],
  .form-style-1 input[type="date"],
  .form-style-1 input[type="datetime"],
  .form-style-1 input[type="number"],
  .form-style-1 input[type="search"],
  .form-style-1 input[type="time"],
  .form-style-1 input[type="url"],
  .form-style-1 input[type="email"],
  textarea,
  select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #bebebe;
    padding: 7px;
    margin: 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    outline: none;
  }
  .form-style-1 input[type="text"]:focus,
  .form-style-1 input[type="date"]:focus,
  .form-style-1 input[type="datetime"]:focus,
  .form-style-1 input[type="number"]:focus,
  .form-style-1 input[type="search"]:focus,
  .form-style-1 input[type="time"]:focus,
  .form-style-1 input[type="url"]:focus,
  .form-style-1 input[type="email"]:focus,
  .form-style-1 textarea:focus,
  .form-style-1 select:focus {
    -moz-box-shadow: 0 0 8px #88d5e9;
    -webkit-box-shadow: 0 0 8px #88d5e9;
    box-shadow: 0 0 8px #88d5e9;
    border: 1px solid #88d5e9;
  }
  .form-style-1 .field-divided {
    width: 49%;
  }

  .form-style-1 .field-long {
    width: 100%;
  }
  .form-style-1 .field-select {
    width: 100%;
  }
  .form-style-1 .field-textarea {
    height: 100px;
  }
  .form-style-1 input[type="submit"],
  .form-style-1 input[type="button"] {
    background: #4b99ad;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
  }
  .form-style-1 input[type="submit"]:hover,
  .form-style-1 input[type="button"]:hover {
    background: #4691a4;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
  .form-style-1 .required {
    color: red;
  }
</style>

<div class="remote-share-mount-selector modal" id="remote-share-mount-selector">
  <form onsubmit="return false" id="remoteFsForm">
    <ul class="form-style-1">
      <li>
        <label>Share Type:</label>
        <select class="field-select" name="shareType" id="remote-fs-share-type">
          <option value="smb">Samba</option>
          <option value="nfs">NFS</option>
        </select>
      </li>
      <li>
        <label>Path</label>
        <input class="field-long" name="sharePath" />
      </li>
      <li>
        <label class="remote-fs-smb-selected">User</label>
        <input name="shareUser" class="field-long remote-fs-smb-selected" />
      </li>
      <li>
        <label class="remote-fs-smb-selected">Password</label>
        <input
          name="sharePassword"
          class="field-long remote-fs-smb-selected"
          type="password"
        />
      </li>
      <li>
        <button id="btn-remote-fs-ok" class="field-divided">OK</button>
        <button id="btn-remote-fs-cancel" class="field-divided">Cancel</button>
      </li>
    </ul>
  </form>
</div>
