# When modifying dependencies, update the credit in app/license_notice.py.

eventlet==0.31.0
Flask==1.1.1
Flask-SocketIO==5.0.1
Flask-WTF==0.14.3
pyyaml==5.4.1

# Indirect dependencies
bidict==0.21.2
click==7.1.2
dnspython==1.16.0
greenlet==1.1.3
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
monotonic==1.5
python-engineio==4.0.1
python-socketio==5.1.0
six==1.15.0
Werkzeug==2.2.3
WTForms==2.3.3
