<template id="change-password-dialog-template">
  <style>
    @import "css/style.css";

    .form-container {
      display: grid;
      grid-template-columns: 17em 1fr;
      gap: 1rem;
      text-align: left;
      align-items: center;
      margin-bottom: 1em;
    }

    .form-container > *:nth-child(2n-1) {
      text-align: right;
      min-width: 9rem;
      margin-right: 0.5rem;
    }

    input[type="password"] {
      width: 100%;
      max-width: 14rem;
    }
  </style>

  <h3>Change My Password</h3>
  <div class="form-container">
    <label for="password-input">New Password:</label>
    <div>
      <input
        type="password"
        name="password"
        id="password-input"
        required
        autocomplete="off"
      />
    </div>

    <label for="password-confirm-input">Confirm Password:</label>
    <div>
      <input
        type="password"
        name="password-confirm"
        id="password-confirm-input"
        required
        autocomplete="off"
      />
    </div>
  </div>

  <inline-message variant="error" id="error">
    <strong>Error:</strong>
    <span id="error-message"><!-- Filled programmatically --></span>
  </inline-message>

  <button id="save-btn" class="btn-success">Save Password</button>
  <button id="cancel-btn" type="button">Cancel</button>
</template>

<script type="module">
  import { DialogClosedEvent } from "/js/events.js";
  import { updateCurrentUserPassword } from "/js/controllers.js";

  (function () {
    const template = document.querySelector("#change-password-dialog-template");

    customElements.define(
      "change-password-dialog",
      class extends HTMLElement {
        connectedCallback() {
          this.attachShadow({ mode: "open" });
          this.shadowRoot.appendChild(template.content.cloneNode(true));

          this._elements = {
            passwordInput: this.shadowRoot.querySelector("#password-input"),
            passwordConfirmInput: this.shadowRoot.querySelector(
              "#password-confirm-input"
            ),
            saveButton: this.shadowRoot.querySelector("#save-btn"),
            cancelButton: this.shadowRoot.querySelector("#cancel-btn"),
            errorDiv: this.shadowRoot.querySelector("#error"),
            errorMessage: this.shadowRoot.querySelector("#error-message"),
          };
          [
            this._elements.passwordInput,
            this._elements.passwordConfirmInput,
          ].forEach((el) => {
            el.addEventListener("input", () => {
              this._setUserInputError(null);
              this._refreshButtonState();
            });
          });

          this._elements.saveButton.addEventListener("click", () =>
            this._handleSavePassword()
          );
          this._elements.cancelButton.addEventListener("click", () => {
            this.dispatchEvent(new DialogClosedEvent());
          });

          [
            this._elements.passwordInput,
            this._elements.passwordConfirmInput,
          ].forEach((el) =>
            el.addEventListener("keydown", (evt) => {
              if (evt.code === "Enter") {
                this._elements.saveButton.click();
              }
            })
          );

          this.addEventListener("overlay-shown", () => this._initialize());
        }

        _initialize() {
          this._elements.passwordInput.value = "";
          this._elements.passwordConfirmInput.value = "";
          this._setUserInputError(null);
          this._refreshButtonState();
        }

        _setUserInputError(message = null) {
          if (message) {
            this._elements.errorMessage.innerText = message;
            this._elements.errorDiv.show();
            return;
          }
          this._elements.errorDiv.hide();
          this._elements.errorMessage.innerText = "";
        }

        _refreshButtonState() {
          const password = this._elements.passwordInput.value;
          const passwordConfirm = this._elements.passwordConfirmInput.value;
          this._elements.saveButton.disabled = !password || !passwordConfirm;
        }

        async _handleSavePassword() {
          const password = this._elements.passwordInput.value;
          const passwordConfirm = this._elements.passwordConfirmInput.value;

          if (password !== passwordConfirm) {
            this._setUserInputError("Passwords do not match");
            return;
          }

          try {
            this._elements.saveButton.disabled = true;
            await updateCurrentUserPassword(password);
          } catch (error) {
            this._setUserInputError(error.message);
            return;
          }

          this.dispatchEvent(new DialogClosedEvent());
        }
      }
    );
  })();
</script>
