<template id="connection-indicator-template">
  <style>
    .status {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    content-tooltip {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .status-dot {
      height: 1rem;
      width: 1rem;
      margin-left: 0.8rem;
      border-radius: 50%;
      display: inline-block;
      /* Disconnected state */
      border: 1px solid rgb(255, 82, 82);
      background-color: red;
    }

    :host([connected="true"]) .status-dot {
      border: 1px solid rgb(190, 255, 170);
      background-color: rgb(116, 238, 116);
    }

    .connected-text {
      display: none;
    }

    :host([connected="true"]) .connected-text {
      display: block;
    }

    .disconnected-text {
      display: block;
    }

    :host([connected="true"]) .disconnected-text {
      display: none;
    }
  </style>
  <div class="status">
    <p>Connection</p>
    <content-tooltip position="bottom">
      <span class="status-dot"></span>
      <p slot="text" class="connected-text"
        >You are connected to TinyPilot.</span
      >
      <p slot="text" class="disconnected-text">
        Could not connect to TinyPilot:
        <span id="disconnect-reason"></span>
      </span>
    </content-tooltip>
  </div>
</template>

<script>
  (function () {
    const doc = (document._currentScript || document.currentScript)
      .ownerDocument;
    const template = doc.querySelector("#connection-indicator-template");

    customElements.define(
      "connection-indicator",
      class extends HTMLElement {
        constructor() {
          super();
        }

        connectedCallback() {
          this.attachShadow({ mode: "open" });
          this.shadowRoot.appendChild(template.content.cloneNode(true));
        }

        get connected() {
          return this.getAttribute("connected");
        }

        set connected(newValue) {
          this.setAttribute("connected", newValue);
        }

        get disconnectReason() {
          return this.shadowRoot.querySelector("#disconnect-reason")
            .textContent;
        }

        set disconnectReason(newValue) {
          this.shadowRoot.querySelector(
            "#disconnect-reason"
          ).innerText = newValue;
        }
      }
    );
  })();
</script>
