<template id="credit-box-template">
  <style>
    @import "css/style.css";

    .project .title {
      font-weight: bold;
    }

    .project {
      margin-bottom: 0.2rem;
    }

    .license {
      font-size: 10pt;
    }
  </style>

  <li class="project">
    <a class="homepage" target="_blank" rel="noopener noreferrer">
      <span class="title"></span> </a
    >&nbsp;
    <span>
      (<a class="license" target="_blank" rel="noopener noreferrer">License</a>)
    </span>
  </li>
</template>

<script type="module">
  (function () {
    const template = document.querySelector("#credit-box-template");

    customElements.define(
      "credit-box",
      class extends HTMLElement {
        connectedCallback() {
          this.attachShadow({ mode: "open" }).appendChild(
            template.content.cloneNode(true)
          );
        }

        set title(newValue) {
          this.shadowRoot.querySelector(".title").innerText = newValue;
        }

        set licenseUrl(newValue) {
          this.shadowRoot.querySelector(".license").href = newValue;
        }

        set homepageUrl(newValue) {
          this.shadowRoot.querySelector(".homepage").href = newValue;
        }
      }
    );
  })();
</script>
