<template id="credit-box-template">
  <style>
    @import "css/style.css";

    .project {
      display: flex;
      flex-direction: row;
      background-color: var(--brand-green-light);
      border: 1px solid var(--brand-green-dark);
      border-radius: var(--border-radius);
      padding: 0.25rem 0.5rem;
    }

    .project .title {
      font-weight: bold;
    }

    .project .links {
      margin-left: auto;
    }

    .project .separator {
      margin: 0 0.5rem;
    }
  </style>

  <div class="project">
    <span class="title"></span>
    <div class="links">
      <a class="license" target="_blank" rel="noopener noreferrer">License</a>
      <span class="separator">•</span>
      <a class="homepage" target="_blank" rel="noopener noreferrer">Homepage</a>
    </div>
  </div>
</template>

<script type="module">
  (function () {
    const template = document.querySelector("#credit-box-template");

    customElements.define(
      "credit-box",
      class extends HTMLElement {
        connectedCallback() {
          this.attachShadow({ mode: "open" }).appendChild(
            template.content.cloneNode(true)
          );
        }

        set title(newValue) {
          this.shadowRoot.querySelector(".title").innerText = newValue;
        }

        set licenseUrl(newValue) {
          this.shadowRoot.querySelector(".license").href = newValue;
        }

        set homepageUrl(newValue) {
          this.shadowRoot.querySelector(".homepage").href = newValue;
        }
      }
    );
  })();
</script>
