<template id="custom-footer-template">
  <style>
    .footer {
      margin: 1rem 0;
      padding: 0 2rem;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }

    a {
      color: white;
    }

    a:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  </style>
  <div class="footer">
    <a id="debug-dialog-btn">View Logs</a>
  </div>
</template>

<script>
  (function () {
    const doc = (document._currentScript || document.currentScript)
      .ownerDocument;
    const template = doc.querySelector("#custom-footer-template");
    customElements.define(
      "custom-footer",
      class CustomFooter extends HTMLElement {
        constructor() {
          super();
          this.attachShadow({ mode: "open" });
        }

        connectedCallback() {
          this.shadowRoot.appendChild(template.content.cloneNode(true));
          this.shadowRoot
            .querySelector("#debug-dialog-btn")
            .addEventListener("click", () => {
              const debugDialog = doc.querySelector("#debug-dialog");
              debugDialog.show = true;
              debugDialog.getLogs();
            });
        }
      }
    );
  })();
</script>
