<template id="debug-dialog-template">
  <style>
    @import "css/style.css";
    @import "css/button.css";
    @import "css/toggle.css";

    #logs-loading,
    #logs-success,
    #url-loading,
    #url-success {
      display: none;
    }

    :host([state="logs-loading"]) #logs-loading,
    :host([state="logs-success"]) #logs-success,
    :host([state="url-loading"]) #url-loading,
    :host([state="url-success"]) #url-success {
      display: block;
    }

    .action-buttons {
      display: flex;
      flex-direction: row;
    }

    .action-buttons button {
      margin: 0 1rem 0 0;
    }

    #logs-success .logs {
      max-height: 600px;
    }

    .toggle-container {
      display: flex;
      align-items: center;
    }

    .toggle {
      margin: 0 0.5rem;
    }

    #url-success .url-wrapper {
      margin: 1rem 0;
    }

    #url-success .url {
      user-select: text;
      background: #bdbdbd;
      padding: 0.6rem 2rem;
      border-radius: var(--border-radius);
    }

    #url-hide-sensitive-data-hint {
      display: none;
      font-size: 0.9rem;
      opacity: 0.9;
      margin: -0.5rem 0 0.5rem 0;
    }

    :host([hide-sensitive-data=""]) #url-hide-sensitive-data-hint {
      display: block;
    }
  </style>

  <!-- Get Debug Logs -->
  <div id="logs-loading">
    <h3>Retrieving Debug Logs</h3>
    <progress-spinner></progress-spinner>
  </div>

  <div id="logs-success">
    <h3>Debug Logs</h3>
    <div class="action-buttons">
      <button class="share-btn btn-action" type="button">
        Get Shareable URL
      </button>
      <button class="copy-btn btn-action" type="button">
        Copy to Clipboard
      </button>
      <div style="flex: 1;"><!-- Spacer --></div>
      <div class="toggle-container">
        Hide Sensitive Data
        <label class="toggle">
          <input type="checkbox" id="hide-sensitive-data" />
          <span class="toggle-slider"></span>
        </label>
      </div>
    </div>
    <p class="logs logs-output monospace"></p>
    <button class="close-btn" type="button">Close</button>
  </div>

  <!-- Get Shareable URL -->
  <div id="url-loading">
    <h3>Retrieving Shareable URL</h3>
    <progress-spinner></progress-spinner>
  </div>

  <div id="url-success">
    <h3>Debug Logs</h3>
    <div class="url-wrapper">
      <a class="url"></a>
      <button class="copy-btn btn-action" type="button">
        Copy to Clipboard
      </button>
    </div>
    <div id="url-hide-sensitive-data-hint">
      (Sensitive data in the uploaded logs was hidden.)
    </div>
    <button class="close-btn" type="button">Close</button>
  </div>
</template>

<script type="module">
  import {
    DialogClosedEvent,
    DialogFailedEvent,
    DialogCloseStateChangedEvent,
  } from "/js/events.js";
  import { copyElementTextToClipboard } from "/js/clipboard.js";
  import { getDebugLogs, textToShareableUrl } from "/js/controllers.js";
  import { filterSensitiveData } from "/js/logs.js";

  (function () {
    const template = document.querySelector("#debug-dialog-template");
    customElements.define(
      "debug-dialog",
      class DebugDialog extends HTMLElement {
        states = {
          LOGS_LOADING: "logs-loading",
          LOGS_SUCCESS: "logs-success",
          URL_LOADING: "url-loading",
          URL_SUCCESS: "url-success",
        };
        statesWithoutDialogClose = new Set([
          this.states.LOGS_LOADING,
          this.states.URL_LOADING,
        ]);

        constructor() {
          super();
          this.attachShadow({ mode: "open" });
          // Ensure that these methods always refer to the correct "this",
          // regardless of where they are called.
          this.retrieveLogs = this.retrieveLogs.bind(this);
          this._getUrl = this._getUrl.bind(this);
        }

        connectedCallback() {
          this.shadowRoot.appendChild(template.content.cloneNode(true));

          this._logText = {
            original: null,
            filtered: null,
          };

          this.elements = {
            hideSensitiveData: this.shadowRoot.getElementById(
              "hide-sensitive-data"
            ),
            logsText: this.shadowRoot.querySelector("#logs-success .logs"),
            shareUrl: this.shadowRoot.querySelector("#url-success .url"),
          };
          this.elements.hideSensitiveData.addEventListener("input", (event) => {
            if (event.target.checked) {
              this._hideSensitiveData();
            } else {
              this._showSensitiveData();
            }
          });
          this.shadowRoot.querySelectorAll(".close-btn").forEach((el) => {
            el.addEventListener("click", () =>
              this.dispatchEvent(new DialogClosedEvent())
            );
          });
          this.shadowRoot
            .querySelector("#logs-success .share-btn")
            .addEventListener("click", this._getUrl);
          this.shadowRoot
            .querySelector("#logs-success .copy-btn")
            .addEventListener("click", (event) => {
              this.onPushCopyButton(
                /*buttonElement=*/ event.target,
                /*sourceElement=*/ this.elements.logsText
              );
            });
          this.shadowRoot
            .querySelector("#url-success .copy-btn")
            .addEventListener("click", (event) => {
              this.onPushCopyButton(
                /*buttonElement=*/ event.target,
                /*sourceElement=*/ this.elements.shareUrl
              );
            });
        }

        get state() {
          return this.getAttribute("state");
        }

        set state(newValue) {
          this.setAttribute("state", newValue);
          this.dispatchEvent(
            new DialogCloseStateChangedEvent(
              !this.statesWithoutDialogClose.has(newValue)
            )
          );
        }

        retrieveLogs() {
          this.state = this.states.LOGS_LOADING;
          getDebugLogs()
            .then((text) => {
              this._logText = {
                original: text,
                filtered: filterSensitiveData(text),
              };
              this._renderLogDisplayText(this._isSensitiveDataHidden());
              this.state = this.states.LOGS_SUCCESS;
            })
            .catch((error) => {
              this.dispatchEvent(
                new DialogFailedEvent({
                  title: "Error Retrieving Debug Logs",
                  details: error,
                })
              );
            });
        }

        /**
         * Returns the log text as it is displayed to the user.
         * @return {string}
         */
        _getLogDisplayText() {
          return this.elements.logsText.textContent;
        }

        /**
         * (Re-)renders the log text panel, taking into account the current
         * sensitivity settings into account.
         * @param isSensitiveDataHidden {boolean}
         */
        _renderLogDisplayText(isSensitiveDataHidden) {
          this.elements.logsText.textContent = isSensitiveDataHidden
            ? this._logText.filtered
            : this._logText.original;
        }

        _getUrl() {
          this.state = this.states.URL_LOADING;
          textToShareableUrl(this._getLogDisplayText())
            .then((url) => {
              this.elements.shareUrl.textContent = url;
              this.elements.shareUrl.href = url;
              this.state = this.states.URL_SUCCESS;
            })
            .catch((error) => {
              this.dispatchEvent(
                new DialogFailedEvent({
                  title: "Error Retrieving Shareable URL",
                  details: error,
                })
              );
            });
        }

        _hideSensitiveData() {
          this.setAttribute("hide-sensitive-data", "");
          this._renderLogDisplayText(/*isSensitiveDataHidden=*/ true);
        }

        _showSensitiveData() {
          this.removeAttribute("hide-sensitive-data");
          this._renderLogDisplayText(/*isSensitiveDataHidden=*/ false);
        }

        _isSensitiveDataHidden() {
          return this.hasAttribute("hide-sensitive-data");
        }

        onPushCopyButton(buttonElement, sourceElement) {
          copyElementTextToClipboard(sourceElement);
          buttonElement.innerText = "Copied!";
        }
      }
    );
  })();
</script>
