<template id="gpio-control-template">
  <style>
    @import "css/style.css";
    @import "css/button.css";

    button {
      box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
    }

    button:focus {
      outline: none;
    }

    button:active {
      outline: 1px solid #fff;
      outline-offset: -4px;
      transform: scale(0.95);
    }

    .container {
      border: 1px dotted rgb(92, 92, 92);
      padding: 1rem;
    }

    .gpio-select {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      margin: 0 auto;
    }

    .gpio-select p {
      margin: 0;
    }

    .gpio-select .select-wrapper {
      margin-left: 1rem;
      display: block;
    }

    button {
      margin-top: 1rem;
    }
  </style>
  <div class="container">
    <button>
      <slot name="button-text"></slot>
    </button>
    <div class="gpio-select">
      <p>GPIO Pin</p>
      <div class="select-wrapper">
        <select id="gpio-pin">
          <!-- JavaScript will add these values -->
        </select>
      </div>
    </div>
  </div>
</template>

<script>
  (function () {
    const LEFT_MOUSE_BUTTON = 1;
    const doc = (document._currentScript || document.currentScript)
      .ownerDocument;
    const template = doc.querySelector("#gpio-control-template");

    customElements.define(
      "gpio-control",
      class extends HTMLElement {
        connectedCallback() {
          this.attachShadow({ mode: "open" });
          this.shadowRoot.appendChild(template.content.cloneNode(true));

          const gpioPinSelect = this.shadowRoot.getElementById("gpio-pin");
          for (let pin = 0; pin <= 26; pin++) {
            const pinOption = document.createElement("option");
            pinOption.setAttribute("value", pin);
            pinOption.innerText = pin;
            gpioPinSelect.appendChild(pinOption);
          }

          const button = this.shadowRoot.querySelector("button");
          button.addEventListener("mousedown", (evt) => {
            this._onMouseDown(evt);
          });
          button.addEventListener("mouseup", (evt) => {
            this._onMouseUp(evt);
          });
        }

        get buttonClass() {
          return this.shadowRoot.querySelector("button").classList.item(0);
        }

        set buttonClass(newValue) {
          this.shadowRoot.querySelector("button").classList.add(newValue);
        }

        get selectedPin() {
          return this.shadowRoot.getElementById("gpio-pin").value;
        }

        set selectedPin(newValue) {
          this.shadowRoot.getElementById("gpio-pin").value = newValue;
        }

        _onMouseDown(evt) {
          if (evt.which != LEFT_MOUSE_BUTTON) {
            return;
          }
          this._emitPinHigh();
        }

        _onMouseUp(evt) {
          if (evt.which != LEFT_MOUSE_BUTTON) {
            return;
          }
          this._emitPinLow();
        }

        _emitPinHigh() {
          this.dispatchEvent(
            new CustomEvent("set-pin-high", {
              bubbles: true,
              composed: true,
            })
          );
        }

        _emitPinLow() {
          this.dispatchEvent(
            new CustomEvent("set-pin-low", {
              bubbles: true,
              composed: true,
            })
          );
        }
      }
    );
  })();
</script>
