<template id="input-event-indicator-template">
  <style>
    @import "css/style.css";

    :host {
      --opacity: 0.5;
      --delay: 200ms;
    }

    .array {
      display: flex;
    }

    .item {
      border: 1px solid white;
      padding: 0.1em 0.3em;
      margin-left: 0.5em;
      border-radius: 4px;
      background-color: var(--brand-metallic-light);
      min-width: 0.8em;
      animation: appear ease var(--delay) forwards;
    }

    .item:nth-last-child(n + 10) {
      display: none;
    }

    .item:nth-last-child(8) {
      opacity: calc(var(--opacity) * 0.5);
      animation: disappear ease var(--delay) forwards;
    }

    .item:nth-last-child(9) {
      opacity: calc(var(--opacity) * 0.25);
      animation: disappear ease var(--delay) forwards;
    }

    .succeeded {
      border-style: solid !important;
    }

    .failed {
      background-color: var(--brand-red-bright);
      color: white;
      opacity: 1 !important;
    }

    @keyframes appear {
      0% {
        opacity: 0.9;
      }
      100% {
        opacity: var(--opacity);
        border-style: dotted;
      }
    }

    .hide {
      opacity: var(--opacity);
      animation: disappear ease 300ms forwards;
    }
    @keyframes disappear {
      100% {
        opacity: 0;
      }
    }

    .keystroke {
      white-space: pre;
      text-align: center;
      font-family: "Overpass Mono", monospace;
      font-size: 0.9em;
    }
  </style>

  <div id="history" class="array"></div>
</template>

<script>
  (function () {
    const doc = (document._currentScript || document.currentScript)
      .ownerDocument;
    const template = doc.querySelector("#input-event-indicator-template");

    const DISPLAY_THRESHOLD_MS = 4000;

    customElements.define(
      "input-event-indicator",
      class extends HTMLElement {
        connectedCallback() {
          this.attachShadow({ mode: "open" });
          this.shadowRoot.appendChild(template.content.cloneNode(true));
          this.history = this.shadowRoot.getElementById("history");
        }

        pushKeystroke(key) {
          const item = document.createElement("div");
          item.innerText = key;
          item.classList.add("keystroke");
          this.push(item);
          return {
            succeeded: () => item.classList.add("succeeded"),
            failed: () => item.classList.add("failed"),
          };
        }

        push(item) {
          const items = Array.from(this.history.childNodes).reverse();
          let numberDisplayed = 0;
          for (let item of items) {
            if (item.classList.contains("hide")) {
              continue;
            }
            numberDisplayed++;
            if (numberDisplayed >= 7) {
              this.pop(item);
            }
          }
          item.classList.add("item");
          this.history.appendChild(item);
          setTimeout(() => this.pop(item), DISPLAY_THRESHOLD_MS);
        }

        pop(item) {
          if (item.classList.contains("hide")) {
            return;
          }
          item.classList.add("hide");
          setTimeout(() => {
            item.style.display = "none";
            this.history.removeChild(item);
          }, 500);
        }
      }
    );
  })();
</script>
