<template id="key-dual-template">
  <style>
    .key {
      position: relative;
      display: block;
      float: left;
      width: 40px;
      height: 40px;
      font-size: 14px;
      background-color: #fff;
      line-height: 14px;
      border-radius: 2px;
      margin-left: 2px;
      margin-bottom: 2px;
      cursor: pointer;
      border: 0 solid black;
    }

    .key .content-top {
      position: absolute;
      top: 5px;
      left: 5px;
    }

    .key .content-bottom {
      position: absolute;
      bottom: 5px;
      left: 5px;
    }
  </style>
  <button type="button" class="key">
    <span id="key-content-top" class="content-top">
      <slot name="top"></slot>
    </span>
    <span id="key-content-bottom" class="content-bottom">
      <slot name="bottom"></slot>
    </span>
  </button>
</template>

<script>
  (function () {
    const doc = (document._currentScript || document.currentScript)
      .ownerDocument;
    const template = doc.querySelector("#key-dual-template");

    customElements.define(
      "tp-key-dual",
      class extends HTMLElement {
        constructor() {
          super();
          this.addEventListener("click", () => {
            this.togglePressedState();
          });
        }

        connectedCallback() {
          this.attachShadow({ mode: "open" });
          this.shadowRoot.appendChild(template.content.cloneNode(true));
        }

        get pressed() {
          return this.getAttribute("pressed") === "true";
        }

        set pressed(newValue) {
          this.setAttribute("pressed", newValue);
        }

        togglePressedState() {
          this.pressed = !this.pressed;
        }
      }
    );
  })();
</script>
