<template id="key-history-card-template">
  <style>
    @import "css/style.css";

    .key-card {
      margin: 1rem;
      padding: 1rem;
      display: block;
      background-color: var(--brand-metallic-light);
      border: 1px solid gray;
      width: 40px;
      height: 24px;
    }

    :host([result="succeeded"]) .key-card {
      background-color: var(--brand-green-light);
    }

    :host([result="failed"]) .key-card {
      background-color: var(--brand-red);
      color: white;
    }
  </style>
  <div class="key-card monospace"></div>
</template>

<script>
  (function () {
    const doc = (document._currentScript || document.currentScript)
      .ownerDocument;
    const template = doc.querySelector("#key-history-card-template");
    let label = "";

    customElements.define(
      "key-history-card",
      class extends HTMLElement {
        constructor() {
          super();
        }

        connectedCallback() {
          this.attachShadow({ mode: "open" });
          this.shadowRoot.appendChild(template.content.cloneNode(true));
          this.updateLabel();
        }

        updateLabel() {
          if (this.shadowRoot && label) {
            this.shadowRoot.querySelector(".key-card").innerText = label;
          }
        }

        get key() {
          return label;
        }

        set key(newValue) {
          label = newValue;
          if (label === " ") {
            label = "Space";
          }
          this.style.fontSize = `${1.1 - 0.08 * label.length}em`;
          this.updateLabel();
        }

        get succeeded() {
          return this.getAttribute("result") === "succeeded";
        }

        set succeeded(newValue) {
          if (newValue === true) {
            this.setAttribute("result", "succeeded");
          }
        }

        get failed() {
          return this.getAttribute("result") === "failed";
        }

        set failed(newValue) {
          if (newValue === true) {
            this.setAttribute("result", "failed");
          }
        }
      }
    );
  })();
</script>
