<template id="key-template">
  <style>

    .key{
      position: relative;;
      display:block;
      float:left;
      width: 40px;
      height:40px;
      font-size: 14px;
      background-color:#fff;
      line-height: 14px;
      border-radius:2px;
      margin-left: 2px;
      margin-bottom:2px;
      cursor: pointer;
      border: 0 solid black;
    }

    .key .content {
      position: absolute;
      top: 5px;
      left: 5px;
    }

  </style>
  <button type="button" class="key">
    <span id="key-content" class="content">
      <slot></slot>
    </span>
  </button>
</template>

<script>
  (function () {
    const doc = (document._currentScript || document.currentScript)
      .ownerDocument;
    const template = doc.querySelector("#key-template");

    customElements.define(
      "tp-key",
      class extends HTMLElement {
        constructor() {
          super();
          this.addEventListener("click", () => {
            this.togglePressedState();
          });
        }

        connectedCallback() {
          this.attachShadow({ mode: "open" });
          this.shadowRoot.appendChild(template.content.cloneNode(true));
        }

        get pressed() {
          return this.getAttribute("pressed") === "true";
        }

        set pressed(newValue) {
          this.setAttribute("pressed", newValue);
        }

        togglePressedState() {
          this.pressed = !this.pressed;
        }
      }
    );
  })();
</script>
