<template id="menu-bar-template">
  <style>
    @import "css/style.css";
    @import "css/cursors.css";

    a {
      color: white;
      display: block;
      text-decoration: none;
    }

    a:hover {
      cursor: pointer;
    }

    ul {
      padding: 0;
      margin: 0;
    }

    li {
      display: block;
      position: relative;
      list-style: none;
    }

    li:hover > ul {
      visibility: visible;
      opacity: 1;
      -webkit-transition: 0.3s;
      transition: 0.3s;
    }

    :host {
      display: flex;
      height: 45px;
      flex-direction: row;
      align-items: center;
      padding: 0 2rem;
      margin: 0 0 12px 0;
      color: white;
      background-color: var(--brand-metallic-dark);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .logo {
      position: relative;
      box-sizing: border-box;
      height: 90%;
      padding: 6px 0;
      margin-right: 1rem;
    }

    .logo img {
      height: 100%;
      position: relative;
    }

    .logo:before {
      /* This creates a subtle glow behind tiny-hamster in the logo, which
         makes him shine a bit better on the background. */
      content: "";
      position: absolute;
      top: 10px;
      left: 1px;
      height: 25px;
      width: 25px;
      background-color: rgba(189, 215, 223, 0.2);
      filter: blur(5px);
    }

    .header-item {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      height: 100%;
      padding-top: 3px;
    }

    .items {
      position: absolute;
      left: -0.85rem;
      top: 100%;
      visibility: hidden;
      opacity: 0;
      min-width: 12em;
    }

    .item a {
      padding: 0.5em 0.8em;
    }

    .group {
      display: flex;
      z-index: 1;
      margin-left: 2rem;
      padding-right: 17px;
      height: 100%;
      align-items: center;
    }

    .group > a:after {
      --width: 5px;
      --height: 7px;
      content: "";
      position: absolute;
      top: 17px;
      right: 0;
      width: 0;
      height: 0;
      border-left: var(--width) solid transparent;
      border-right: var(--width) solid transparent;
      border-top: var(--height) solid var(--brand-creme-light);
    }

    .subgroup .items {
      left: 100%;
      top: 0;
    }

    .item {
      margin: 0;
      padding: 0;
    }

    .group ul a:hover {
      background: var(--brand-metallic-light);
    }

    .group ul a {
      background-color: var(--brand-metallic-medium);
    }

    .subgroup:after {
      --width: 5px;
      --height: 7px;
      content: "";
      position: absolute;
      top: 13px;
      right: 11px;
      width: 0;
      height: 0;
      border-top: var(--width) solid transparent;
      border-bottom: var(--width) solid transparent;
      border-left: var(--height) solid var(--brand-creme-light);
    }

    #cursor-list a {
      text-transform: capitalize;
    }

    .connection-indicator {
      margin-right: 2rem;
      margin-left: auto;
    }

    .nav-icon img {
      margin-top: 5px;
      max-height: 22px;
    }

    .nav-selected a:after {
      content: "✓";
      position: absolute;
      right: 10px;
    }
  </style>

  <div class="logo"><img src="/img/slim-logo-white.png" /></div>
  <ul class="groups header-item">
    <li class="group">
      <a>System</a>
      <ul class="items">
        <li class="item">
          <a id="update-btn">Update</a>
        </li>
        <li class="item">
          <a id="change-hostname-btn">Change hostname</a>
        </li>
        <li class="item">
          <a id="debug-dialog-btn">View Logs</a>
        </li>
        <li class="item">
          <a id="power-btn">Power</a>
        </li>
      </ul>
    </li>

    <li class="group">
      <a>Actions</a>
      <ul class="items">
        <li class="item">
          <a id="paste-btn">Paste</a>
        </li>
        <li class="item">
          <a id="screenshot-btn" href="/snapshot">Screenshot</a>
        </li>
      </ul>
    </li>

    <li class="group">
      <a>View</a>
      <ul class="items">
        <li class="item subgroup">
          <a>Cursor</a>
          <ul id="cursor-list" class="items">
            <!-- JavaScript populates this list dynamically. -->
          </ul>
        </li>
        <li class="item" id="keyboard-menu-item">
          <a id="keyboard-btn">Show Keyboard</a>
        </li>
        <li class="item">
          <a id="fullscreen-btn">Full Screen</a>
        </li>
      </ul>
    </li>
  </ul>
  <div class="header-item connection-indicator">
    <!-- The connection indicator will be moved
      to the status bar later on -->
    <connection-indicator id="connection-indicator"> </connection-indicator>
  </div>
  <div class="header-item nav-icon">
    <a href="https://github.com/mtlynch/tinypilot" target="_blank">
      <img src="/img/GitHub-Mark-Light-120px-plus.png" />
    </a>
  </div>
</template>

<script>
  (function () {
    const doc = (document._currentScript || document.currentScript)
      .ownerDocument;
    const template = doc.querySelector("#menu-bar-template");

    customElements.define(
      "menu-bar",
      class extends HTMLElement {
        constructor() {
          super();
          this.setCursor = () => {};
          this.showKeyboardCallback = () => {};
        }

        connectedCallback() {
          this.attachShadow({ mode: "open" });
          this.shadowRoot.appendChild(template.content.cloneNode(true));

          this.shadowRoot
            .getElementById("power-btn")
            .addEventListener("click", () => {
              document.getElementById("shutdown-dialog").show = true;
            });
          this.shadowRoot
            .getElementById("screenshot-btn")
            .addEventListener("click", (evt) => {
              evt.target.download =
                "TinyPilot-" + new Date().toISOString() + ".jpg";
            });
          this.shadowRoot
            .getElementById("keyboard-btn")
            .addEventListener("click", (evt) => {
              this.showKeyboard = !this.showKeyboard;
              evt.preventDefault();
            });
          this.shadowRoot
            .getElementById("fullscreen-btn")
            .addEventListener("click", (evt) => {
              document.getElementById("remote-screen").fullscreen = true;
              evt.preventDefault();
            });
          this.shadowRoot
            .getElementById("paste-btn")
            .addEventListener("click", () => {
              showPasteOverlay();
            });
          this.shadowRoot
            .getElementById("update-btn")
            .addEventListener("click", () => {
              const updateDialog = document.getElementById("update-dialog");
              updateDialog.show = true;
              updateDialog.checkVersion();
            });
          this.shadowRoot
            .getElementById("change-hostname-btn")
            .addEventListener("click", () => {
              document.getElementById("change-hostname-dialog").show = true;
            });
          this.shadowRoot
            .getElementById("debug-dialog-btn")
            .addEventListener("click", () => {
              const debugDialog = doc.querySelector("#debug-dialog");
              debugDialog.show = true;
              debugDialog.getLogs();
            });

          // Add cursor options to navbar.
          const screenCursorOptions = [
            "disabled", // To show on disconnect
            "default", // Note that this is the browser default, not TinyPilot's default.
            "none",
            "crosshair",
            "dot",
            "pointer",
            "cell",
          ];
          const cursorList = this.shadowRoot.getElementById("cursor-list");
          for (const cursorOption of screenCursorOptions.splice(1)) {
            const cursorLink = document.createElement("a");
            cursorLink.setAttribute("href", "#");
            cursorLink.innerText = cursorOption;
            cursorLink.addEventListener("click", (evt) => {
              this.setCursor(cursorOption);
              evt.preventDefault();
            });
            const listItem = document.createElement("li");
            listItem.appendChild(cursorLink);
            listItem.classList.add("cursor-option", "item");
            listItem.setAttribute("cursor", cursorOption);
            cursorList.appendChild(listItem);
          }
        }

        set showKeyboard(isShown) {
          const keystrokePanel = document.getElementById("keystroke-panel");
          const keyboardMenuItem = this.shadowRoot.getElementById("keyboard-menu-item");
          if (isShown) {
            keystrokePanel.style.display = "block";
            keyboardMenuItem.classList.add("nav-selected");
          } else {
            keystrokePanel.style.display = "none";
            keyboardMenuItem.classList.remove("nav-selected");
          }
          this.showKeyboardCallback(isShown);
        }

        get showKeyboard() {
          const keystrokePanel = document.getElementById("keystroke-panel");
          return keystrokePanel.style.display === "block";
        }

        set onShowKeyboard(handler) {
          this.showKeyboardCallback = handler;
        }

        get connectionIndicator() {
          return this.shadowRoot.getElementById("connection-indicator");
        }

        set cursor(newCursor) {
          for (const cursorListItem of this.shadowRoot.querySelectorAll(
            "#cursor-list li"
          )) {
            if (newCursor === cursorListItem.getAttribute("cursor")) {
              cursorListItem.classList.add("nav-selected");
            } else {
              cursorListItem.classList.remove("nav-selected");
            }
          }
        }

        set onChangeCursor(handler) {
          this.setCursor = handler;
        }
      }
    );
  })();
</script>
