<template id="modifier-key-template">
  <style>
    button {
      display: inline-block;
      border: none;
      padding: 1rem 2rem;
      margin: 1rem;
      text-decoration: none;
      background: #0069ed;
      color: #ffffff;
      font-size: 1rem;
      cursor: pointer;
      text-align: center;
      transition: background 250ms ease-in-out, transform 150ms ease;
      -webkit-appearance: none;
      -moz-appearance: none;
    }

    button:hover,
    button:focus {
      background: #0053ba;
    }

    button:focus {
      outline: 1px solid #fff;
      outline-offset: -4px;
    }

    button:active {
      transform: scale(0.99);
    }

    .manual-modifier-btn {
      background-color: rgb(45, 153, 144);
      font-size: 0.9em;
    }

    .manual-modifier-btn:hover {
      background-color: rgb(26, 107, 100);
    }

    .manual-modifier-btn:focus {
      outline: 1px solid rgb(184, 255, 170);
      outline-offset: -4px;
      background-color: rgb(7, 153, 141);
    }

    .manual-modifier-btn:active {
      background-color: rgb(7, 153, 141);
    }

    :host([pressed="true"]) .manual-modifier-btn {
      background-color: rgb(0, 92, 84) !important;
      box-shadow: 0 0 2px #245a00;
    }
  </style>
  <button class="btn manual-modifier-btn" type="button"><slot></slot></button>
</template>

<script>
  (function () {
    const doc = (document._currentScript || document.currentScript)
      .ownerDocument;
    const template = doc.querySelector("#modifier-key-template");

    customElements.define(
      "modifier-key",
      class extends HTMLElement {
        constructor() {
          super();
          this.addEventListener("click", () => {
            this.togglePressedState();
          });
        }

        connectedCallback() {
          this.attachShadow({ mode: "open" });
          this.shadowRoot.appendChild(template.content.cloneNode(true));
        }

        get pressed() {
          return this.getAttribute("pressed");
        }

        set pressed(newValue) {
          this.setAttribute("pressed", newValue);
        }

        togglePressedState() {
          this.pressed = !(this.pressed === "true");
        }
      }
    );
  })();
</script>
