<template id="modifier-key-template">
  <style>
    @import "css/button.css";

    button {
      background-color: rgb(45, 153, 144);
      font-size: 0.9em;
    }

    button:hover {
      background-color: rgb(26, 107, 100);
    }

    button:focus {
      outline: 1px solid rgb(184, 255, 170);
      outline-offset: -4px;
      background-color: rgb(7, 153, 141);
    }

    button:active {
      background-color: rgb(7, 153, 141);
    }

    :host([pressed="true"]) button {
      background-color: rgb(0, 92, 84) !important;
      box-shadow: 0 0 2px #245a00;
    }
  </style>
  <button type="button"><slot></slot></button>
</template>

<script>
  (function () {
    const doc = (document._currentScript || document.currentScript)
      .ownerDocument;
    const template = doc.querySelector("#modifier-key-template");

    customElements.define(
      "modifier-key",
      class extends HTMLElement {
        constructor() {
          super();
          this.addEventListener("click", () => {
            this.togglePressedState();
          });
        }

        connectedCallback() {
          this.attachShadow({ mode: "open" });
          this.shadowRoot.appendChild(template.content.cloneNode(true));
        }

        get pressed() {
          return this.getAttribute("pressed") === "true";
        }

        set pressed(newValue) {
          this.setAttribute("pressed", newValue);
        }

        togglePressedState() {
          this.pressed = !this.pressed;
        }
      }
    );
  })();
</script>
