<template id="on-screen-keyboard-template">
  <style>
    .keyboard {
      width: 992px;
      min-width: 992px;
      background-color: #f7f7f7;
      margin: 1rem auto;
      padding: 14px;
      color: #333;
      border: 1px solid rgb(92, 92, 92);
    }

    .keyboard-block {
      display: inline-block;
    }

    #keyboard-block-left {
      margin-right: 14px;
      width: 780px;
    }

    #keyboard-block-right {
      margin-left: 14px;
      width: 156px;
    }

    .keyboard-row {
      width: 100%;
      float: left;
    }

    .keyboard-row-bump {
      padding-bottom: 28px;
    }
  </style>
  <div class="keyboard">
    <div id="keyboard-block-left" class="keyboard-block">
      <div class="keyboard-row keyboard-row-bump">
        <keyboard-key class="accented" code="27">Esc</keyboard-key>
        <keyboard-key class="hidden"></keyboard-key>
        <keyboard-key code="112">F1</keyboard-key>
        <keyboard-key code="113">F2</keyboard-key>
        <keyboard-key code="114">F3</keyboard-key>
        <keyboard-key code="115">F4</keyboard-key>
        <keyboard-key class="hidden key-collapse-half"></keyboard-key>

        <keyboard-key code="116">F5</keyboard-key>
        <keyboard-key code="117">F6</keyboard-key>
        <keyboard-key code="118">F7</keyboard-key>
        <keyboard-key code="119">F8</keyboard-key>
        <keyboard-key class="hidden key-collapse-half"></keyboard-key>

        <keyboard-key code="120">F9</keyboard-key>
        <keyboard-key code="121">F10</keyboard-key>
        <keyboard-key code="122">F11</keyboard-key>
        <keyboard-key code="123">F12</keyboard-key>
      </div>
      <!-- end keyboard-row -->

      <div class="keyboard-row">
        <keyboard-key code="192" symbolic-value="`">
          <slot>~</slot>
          <span slot="bottom">`</span>
        </keyboard-key>
        <keyboard-key code="49" symbolic-value="1">
          <slot>!</slot>
          <span slot="bottom">1</span>
        </keyboard-key>
        <keyboard-key code="50" symbolic-value="2">
          <slot>@</slot>
          <span slot="bottom">2</span>
        </keyboard-key>
        <keyboard-key code="51" symbolic-value="3">
          <slot>#</slot>
          <span slot="bottom">3</span>
        </keyboard-key>
        <keyboard-key code="52" symbolic-value="4">
          <slot>$</slot>
          <span slot="bottom">4</span>
        </keyboard-key>
        <keyboard-key code="53" symbolic-value="5">
          <slot>%</slot>
          <span slot="bottom">5</span>
        </keyboard-key>
        <keyboard-key code="54" symbolic-value="6">
          <slot>^</slot>
          <span slot="bottom">6</span>
        </keyboard-key>
        <keyboard-key code="55" symbolic-value="7">
          <slot>&</slot>
          <span slot="bottom">7</span>
        </keyboard-key>
        <keyboard-key code="56" symbolic-value="8">
          <slot>*</slot>
          <span slot="bottom">8</span>
        </keyboard-key>
        <keyboard-key code="57" symbolic-value="9">
          <slot>(</slot>
          <span slot="bottom">9</span>
        </keyboard-key>
        <keyboard-key code="48" symbolic-value="0">
          <slot>)</slot>
          <span slot="bottom">0</span>
        </keyboard-key>
        <keyboard-key code="189" symbolic-value="-">
          <slot>_</slot>
          <span slot="bottom">-</span>
        </keyboard-key>
        <keyboard-key code="187" symbolic-value="=">
          <slot>+</slot>
          <span slot="bottom">=</span>
        </keyboard-key>

        <keyboard-key code="8" class="key-extend-full accented"
          >Backspace</keyboard-key
        >
      </div>
      <!-- end keyboard-row -->

      <div class="keyboard-row">
        <keyboard-key code="9" class="key-extend-full accented"
          >Tab</keyboard-key
        >
        <keyboard-key code="81">Q</keyboard-key>
        <keyboard-key code="87">W</keyboard-key>
        <keyboard-key code="69">E</keyboard-key>
        <keyboard-key code="82">R</keyboard-key>
        <keyboard-key code="84">T</keyboard-key>
        <keyboard-key code="89">Y</keyboard-key>
        <keyboard-key code="85">U</keyboard-key>
        <keyboard-key code="73">I</keyboard-key>
        <keyboard-key code="79">O</keyboard-key>
        <keyboard-key code="80">P</keyboard-key>
        <keyboard-key code="219" symbolic-value="[">
          <slot>{</slot>
          <span slot="bottom">[</span>
        </keyboard-key>
        <keyboard-key code="221" symbolic-value="]">
          <slot>}</slot>
          <span slot="bottom">]</span>
        </keyboard-key>
        <keyboard-key code="220" symbolic-value="|">
          <slot>|</slot>
          <span slot="bottom">\</span>
        </keyboard-key>
      </div>
      <!-- end keyboard-row -->
      <div class="keyboard-row">
        <keyboard-key code="20" class="key-extend-full accented"
          >Caps Lock</keyboard-key
        >
        <keyboard-key code="65">A</keyboard-key>
        <keyboard-key code="83">S</keyboard-key>
        <keyboard-key code="68">D</keyboard-key>
        <keyboard-key code="70">F</keyboard-key>
        <keyboard-key code="71">G</keyboard-key>
        <keyboard-key code="72">H</keyboard-key>
        <keyboard-key code="74">J</keyboard-key>
        <keyboard-key code="75">K</keyboard-key>
        <keyboard-key code="76">L</keyboard-key>
        <keyboard-key code="59" symbolic-value=";">
          <slot>:</slot>
          <span slot="bottom">;</span>
        </keyboard-key>
        <keyboard-key code="222" symbolic-value="'">
          <slot>"</slot>
          <span slot="bottom">'</span>
        </keyboard-key>

        <keyboard-key code="13" class="key-extend-full accented"
          >Enter</keyboard-key
        >
      </div>
      <!-- end keyboard-row -->

      <div class="keyboard-row">
        <keyboard-key
          code="16"
          modifier="true"
          location="left"
          class="shift-modifier key-extend-full-half accented"
          >Shift</keyboard-key
        >

        <keyboard-key code="90">Z</keyboard-key>
        <keyboard-key code="88">X</keyboard-key>
        <keyboard-key code="67">C</keyboard-key>
        <keyboard-key code="86">V</keyboard-key>
        <keyboard-key code="66">B</keyboard-key>
        <keyboard-key code="78">N</keyboard-key>
        <keyboard-key code="77">M</keyboard-key>
        <keyboard-key code="188" symbolic-value=",">
          <slot><</slot>
          <span slot="bottom">,</span>
        </keyboard-key>
        <keyboard-key code="190" symbolic-value=".">
          <slot>></slot>
          <span slot="bottom">.</span>
        </keyboard-key>
        <keyboard-key code="191" symbolic-value="/">
          <slot>?</slot>
          <span slot="bottom">/</span>
        </keyboard-key>
        <keyboard-key
          code="16"
          modifier="true"
          location="right"
          class="shift-modifier key-extend-full-half accented"
          >Shift</keyboard-key
        >
      </div>
      <!-- end keyboard-row -->

      <div class="keyboard-row">
        <keyboard-key
          code="17"
          modifier="true"
          location="left"
          class="ctrl-modifier key-extend-full accented"
          >Control</keyboard-key
        >
        <keyboard-key
          code="91"
          modifier="true"
          location="left"
          class="meta-modifier key-extend-half accented"
          >Meta</keyboard-key
        >
        <keyboard-key
          code="18"
          modifier="true"
          class="alt-modifier accented"
          location="left"
          >Alt</keyboard-key
        >
        <keyboard-key code="32" class="key-space">Space</keyboard-key>
        <keyboard-key
          code="18"
          modifier="true"
          class="alt-modifier accented"
          location="right"
          >Alt</keyboard-key
        >
        <keyboard-key
          code="92"
          modifier="true"
          location="right"
          class="meta-modifier key-extend-half accented"
          >Meta</keyboard-key
        >
        <keyboard-key
          code="93"
          symbolic-value="ContextMenu"
          class="key-extend-half accented"
          >Menu</keyboard-key
        >
        <keyboard-key
          code="17"
          modifier="true"
          location="right"
          class="ctrl-modifier key-extend-full accented"
          >Control</keyboard-key
        >
      </div>
      <!-- end keyboard-row -->
    </div>
    <div id="keyboard-block-right" class="keyboard-block">
      <div class="keyboard-row keyboard-row-bump">
        <keyboard-key
          code="44"
          symbolic-value="PrintScreen"
          modifier="true"
          class="sysrq-modifier"
          >Print</keyboard-key
        >
        <keyboard-key code="145">Scroll Lock</keyboard-key>
        <keyboard-key code="19">Pause</keyboard-key>
      </div>
      <!-- end keyboard-row -->
      <div class="keyboard-row">
        <keyboard-key code="45">Insert</keyboard-key>
        <keyboard-key code="36">Home</keyboard-key>
        <keyboard-key code="33">Page Up</keyboard-key>
      </div>
      <!-- end keyboard-row -->
      <div class="keyboard-row">
        <keyboard-key code="46">Delete</keyboard-key>
        <keyboard-key code="35">End</keyboard-key>
        <keyboard-key code="34">Page Down</keyboard-key>
      </div>
      <!-- end keyboard-row -->
      <div class="keyboard-row">
        <keyboard-key class="hidden"></keyboard-key>
      </div>
      <!-- end keyboard-row -->
      <div class="keyboard-row">
        <keyboard-key class="hidden"></keyboard-key>
        <keyboard-key symbolic-value="ArrowUp" code="38">Up</keyboard-key>
        <keyboard-key class="hidden"></keyboard-key>
      </div>
      <!-- end keyboard-row -->
      <div class="keyboard-row">
        <keyboard-key symbolic-value="ArrowLeft" code="37">Left</keyboard-key>
        <keyboard-key symbolic-value="ArrowDown" code="40">Down</keyboard-key>
        <keyboard-key symbolic-value="ArrowRight" code="39">Right</keyboard-key>
      </div>
      <!-- end keyboard-row -->
    </div>
  </div>
</template>

<script>
  (function () {
    const doc = (document._currentScript || document.currentScript)
      .ownerDocument;
    const template = doc.querySelector("#on-screen-keyboard-template");

    customElements.define(
      "on-screen-keyboard",
      class extends HTMLElement {
        connectedCallback() {
          this.attachShadow({ mode: "open" });
          this.shadowRoot.appendChild(template.content.cloneNode(true));

          this.addEventListener("keyclick", (evt) => {
            this.onKeyClick(evt.detail.key);
          });
        }

        onKeyClick(key) {
          let keyValue = key.value;

          if (
            this.isShiftKeyPressed &&
            !this.isMetaKeyPressed &&
            !this.isAltKeyPressed &&
            !this.isCtrlKeyPressed &&
            !this.isSysrqKeyPressed
          ) {
            keyValue = this.getShiftedKeyValue(keyValue);
          }

          this.emitKeyDownEvent(keyValue, key.location, key.code);

          if (!key.isModifier) {
            this.emitKeyUpEvent(keyValue, key.location, key.code);

            // Remove pressed state from all modifier keys if non-modifier key
            // was pressed.
            this.clearPressedKeys();
          }
        }

        get isMetaKeyPressed() {
          return this.isModifierKeyPressed("meta");
        }

        get isAltKeyPressed() {
          return this.isModifierKeyPressed("alt");
        }

        get isShiftKeyPressed() {
          return this.isModifierKeyPressed("shift");
        }

        get isCtrlKeyPressed() {
          return this.isModifierKeyPressed("ctrl");
        }

        get isSysrqKeyPressed() {
          return this.isModifierKeyPressed("sysrq");
        }

        isModifierKeyPressed(modifier) {
          return (
            this.shadowRoot.querySelectorAll(
              `.${modifier}-modifier[pressed=true]`
            ).length > 0
          );
        }

        emitKeyDownEvent(key, location, code) {
          this.dispatchEvent(
            new KeyboardEvent("keydown", {
              bubbles: true,
              composed: true,
              key: key,
              location: location,
              keyCode: code,
              metaKey: this.isMetaKeyPressed,
              altKey: this.isAltKeyPressed,
              shiftKey: this.isShiftKeyPressed,
              ctrlKey: this.isCtrlKeyPressed,
            })
          );
        }

        emitKeyUpEvent(key, location, code) {
          this.dispatchEvent(
            new KeyboardEvent("keyup", {
              bubbles: true,
              composed: true,
              key: key,
              location: location,
              keyCode: code,
              metaKey: this.isMetaKeyPressed,
              altKey: this.isAltKeyPressed,
              shiftKey: this.isShiftKeyPressed,
              ctrlKey: this.isCtrlKeyPressed,
            })
          );
        }

        clearPressedKeys() {
          this.shadowRoot
            .querySelectorAll("[modifier=true][pressed=true]")
            .forEach((key) => {
              key.isPressed = false;
              this.emitKeyUpEvent(key.value, key.location, key.code);
            });
        }

        getShiftedKeyValue(key) {
          if (/^[a-z]$/.test(key)) {
            return key.toUpperCase();
          }
          const shiftMappings = {
            "`": "~",
            "1": "!",
            "2": "@",
            "3": "#",
            "4": "$",
            "5": "%",
            "6": "^",
            "7": "&",
            "8": "*",
            "9": "(",
            "0": ")",
            "-": "_",
            "=": "+",
            "[": "{",
            "]": "}",
            "\\": "|",
            ";": ":",
            "'": '"',
            ",": "<",
            ".": ">",
            "/": "?",
          };
          if (key in shiftMappings) {
            return shiftMappings[key];
          }
          // This key is the same regardless of whether the shift key is
          // pressed.
          return key;
        }
      }
    );
  })();
</script>
