<template id="on-screen-keyboard-template">
  <style>
    :host {
      /* Note: the --key-size needs to be in line with the width and margin of
         the individual <key> component. */
      --key-size: 46px;
      --block-spacing: 8px;
    }

    .keyboard {
      --width: calc(21 * var(--key-size) + 6 * var(--block-spacing));
      width: var(--width);
      min-width: var(--width);
      background-color: #f7f7f7;
      margin: 1rem auto;
      padding: 14px;
      color: #333;
      border: 1px solid rgb(92, 92, 92);
    }

    .keyboard-block {
      display: inline-block;
    }

    #keyboard-block-left {
      margin-right: var(--block-spacing);
      width: calc(var(--key-size) * 3);
    }

    #keyboard-block-middle {
      margin-left: var(--block-spacing);
      margin-right: var(--block-spacing);
      width: calc(var(--key-size) * 15);
    }

    #keyboard-block-right {
      margin-left: var(--block-spacing);
      width: calc(var(--key-size) * 3);
    }

    .keyboard-row {
      width: 100%;
      float: left;
    }
  </style>
  <div class="keyboard">
    <div id="keyboard-block-left" class="keyboard-block">
      <div class="keyboard-row">
        <keyboard-key class="hidden"></keyboard-key>
        <keyboard-key class="hidden"></keyboard-key>
        <keyboard-key class="accented" code="Escape">Esc</keyboard-key>
      </div>
      <div class="keyboard-row">
        <keyboard-key code="F1">F1</keyboard-key>
        <keyboard-key code="F2">F2</keyboard-key>
        <keyboard-key code="F3">F3</keyboard-key>
      </div>
      <div class="keyboard-row">
        <keyboard-key code="F4">F4</keyboard-key>
        <keyboard-key code="F5">F5</keyboard-key>
        <keyboard-key code="F6">F6</keyboard-key>
      </div>
      <div class="keyboard-row">
        <keyboard-key code="F7">F7</keyboard-key>
        <keyboard-key code="F8">F8</keyboard-key>
        <keyboard-key code="F9">F9</keyboard-key>
      </div>
      <div class="keyboard-row">
        <keyboard-key code="F10">F10</keyboard-key>
        <keyboard-key code="F11">F11</keyboard-key>
        <keyboard-key code="F12">F12</keyboard-key>
      </div>
    </div>

    <div id="keyboard-block-middle" class="keyboard-block">
      <div class="keyboard-row">
        <keyboard-key code="Backquote">
          <slot>~</slot>
          <span slot="bottom">`</span>
        </keyboard-key>
        <keyboard-key code="Digit1">
          <slot>!</slot>
          <span slot="bottom">1</span>
        </keyboard-key>
        <keyboard-key code="Digit2">
          <slot>@</slot>
          <span slot="bottom">2</span>
        </keyboard-key>
        <keyboard-key code="Digit3">
          <slot>#</slot>
          <span slot="bottom">3</span>
        </keyboard-key>
        <keyboard-key code="Digit4">
          <slot>$</slot>
          <span slot="bottom">4</span>
        </keyboard-key>
        <keyboard-key code="Digit5">
          <slot>%</slot>
          <span slot="bottom">5</span>
        </keyboard-key>
        <keyboard-key code="Digit6">
          <slot>^</slot>
          <span slot="bottom">6</span>
        </keyboard-key>
        <keyboard-key code="Digit7">
          <slot>&</slot>
          <span slot="bottom">7</span>
        </keyboard-key>
        <keyboard-key code="Digit8">
          <slot>*</slot>
          <span slot="bottom">8</span>
        </keyboard-key>
        <keyboard-key code="Digit9">
          <slot>(</slot>
          <span slot="bottom">9</span>
        </keyboard-key>
        <keyboard-key code="Digit0">
          <slot>)</slot>
          <span slot="bottom">0</span>
        </keyboard-key>
        <keyboard-key code="Minus">
          <slot>_</slot>
          <span slot="bottom">-</span>
        </keyboard-key>
        <keyboard-key code="Equal">
          <slot>+</slot>
          <span slot="bottom">=</span>
        </keyboard-key>

        <keyboard-key code="Backspace" class="key-extend-full accented"
          >Backspace</keyboard-key
        >
      </div>
      <!-- end keyboard-row -->

      <div class="keyboard-row">
        <keyboard-key code="Tab" class="key-extend-full accented"
          >Tab</keyboard-key
        >
        <keyboard-key code="KeyQ">Q</keyboard-key>
        <keyboard-key code="KeyW">W</keyboard-key>
        <keyboard-key code="KeyE">E</keyboard-key>
        <keyboard-key code="KeyR">R</keyboard-key>
        <keyboard-key code="KeyT">T</keyboard-key>
        <keyboard-key code="KeyY">Y</keyboard-key>
        <keyboard-key code="KeyU">U</keyboard-key>
        <keyboard-key code="KeyI">I</keyboard-key>
        <keyboard-key code="KeyO">O</keyboard-key>
        <keyboard-key code="KeyP">P</keyboard-key>
        <keyboard-key code="BracketLeft">
          <slot>{</slot>
          <span slot="bottom">[</span>
        </keyboard-key>
        <keyboard-key code="BracketRight">
          <slot>}</slot>
          <span slot="bottom">]</span>
        </keyboard-key>
        <keyboard-key code="Backslash">
          <slot>|</slot>
          <span slot="bottom">\</span>
        </keyboard-key>
      </div>
      <!-- end keyboard-row -->
      <div class="keyboard-row">
        <keyboard-key code="CapsLock" class="key-extend-full accented"
          >Caps Lock</keyboard-key
        >
        <keyboard-key code="KeyA">A</keyboard-key>
        <keyboard-key code="KeyS">S</keyboard-key>
        <keyboard-key code="KeyD">D</keyboard-key>
        <keyboard-key code="KeyF">F</keyboard-key>
        <keyboard-key code="KeyG">G</keyboard-key>
        <keyboard-key code="KeyH">H</keyboard-key>
        <keyboard-key code="KeyJ">J</keyboard-key>
        <keyboard-key code="KeyK">K</keyboard-key>
        <keyboard-key code="KeyL">L</keyboard-key>
        <keyboard-key code="Semicolon">
          <slot>:</slot>
          <span slot="bottom">;</span>
        </keyboard-key>
        <keyboard-key code="Quote">
          <slot>"</slot>
          <span slot="bottom">'</span>
        </keyboard-key>

        <keyboard-key code="Enter" class="key-extend-full accented"
          >Enter</keyboard-key
        >
      </div>
      <!-- end keyboard-row -->

      <div class="keyboard-row">
        <keyboard-key
          code="ShiftLeft"
          modifier="true"
          class="modifier key-extend-full-half accented"
          >Shift</keyboard-key
        >

        <keyboard-key code="KeyZ">Z</keyboard-key>
        <keyboard-key code="KeyX">X</keyboard-key>
        <keyboard-key code="KeyC">C</keyboard-key>
        <keyboard-key code="KeyV">V</keyboard-key>
        <keyboard-key code="KeyB">B</keyboard-key>
        <keyboard-key code="KeyN">N</keyboard-key>
        <keyboard-key code="KeyM">M</keyboard-key>
        <keyboard-key code="Comma">
          <slot><</slot>
          <span slot="bottom">,</span>
        </keyboard-key>
        <keyboard-key code="Period">
          <slot>></slot>
          <span slot="bottom">.</span>
        </keyboard-key>
        <keyboard-key code="Slash">
          <slot>?</slot>
          <span slot="bottom">/</span>
        </keyboard-key>
        <keyboard-key
          code="ShiftRight"
          modifier="true"
          class="modifier key-extend-full-half accented"
          >Shift</keyboard-key
        >
      </div>
      <!-- end keyboard-row -->

      <div class="keyboard-row">
        <keyboard-key
          code="ControlLeft"
          modifier="true"
          class="modifier key-extend-full accented"
          >Control</keyboard-key
        >
        <keyboard-key
          code="MetaLeft"
          modifier="true"
          class="modifier key-extend-half accented"
          >Meta</keyboard-key
        >
        <keyboard-key code="AltLeft" modifier="true" class="modifier accented"
          >Alt</keyboard-key
        >
        <keyboard-key code="Space" class="key-space">Space</keyboard-key>
        <keyboard-key code="AltRight" modifier="true" class="modifier accented"
          >Alt</keyboard-key
        >
        <keyboard-key
          code="MetaRight"
          modifier="true"
          class="modifier key-extend-half accented"
          >Meta</keyboard-key
        >
        <keyboard-key
          code="ContextMenu"
          key="ContextMenu"
          class="key-extend-half accented"
          >Menu</keyboard-key
        >
        <keyboard-key
          code="ControlRight"
          modifier="true"
          class="modifier key-extend-full accented"
          >Control</keyboard-key
        >
      </div>
      <!-- end keyboard-row -->
    </div>

    <div id="keyboard-block-right" class="keyboard-block">
      <div class="keyboard-row">
        <keyboard-key code="PrintScreen">Print</keyboard-key>
        <keyboard-key code="ScrollLock">Scroll Lock</keyboard-key>
        <keyboard-key code="Pause">Pause</keyboard-key>
      </div>
      <!-- end keyboard-row -->
      <div class="keyboard-row">
        <keyboard-key code="Insert">Insert</keyboard-key>
        <keyboard-key code="Home">Home</keyboard-key>
        <keyboard-key code="PageUp">Page Up</keyboard-key>
      </div>
      <!-- end keyboard-row -->
      <div class="keyboard-row">
        <keyboard-key code="Delete">Delete</keyboard-key>
        <keyboard-key code="End">End</keyboard-key>
        <keyboard-key code="PageDown">Page Down</keyboard-key>
      </div>
      <!-- end keyboard-row -->
      <div class="keyboard-row">
        <keyboard-key class="hidden"></keyboard-key>
        <keyboard-key use-code="true" code="ArrowUp">Up</keyboard-key>
        <keyboard-key class="hidden"></keyboard-key>
      </div>
      <!-- end keyboard-row -->
      <div class="keyboard-row">
        <keyboard-key use-code="true" code="ArrowLeft">Left</keyboard-key>
        <keyboard-key use-code="true" code="ArrowDown">Down</keyboard-key>
        <keyboard-key use-code="true" code="ArrowRight">Right</keyboard-key>
      </div>
      <!-- end keyboard-row -->
    </div>
  </div>
</template>

<script type="module">
  (function () {
    const template = document.querySelector("#on-screen-keyboard-template");

    customElements.define(
      "on-screen-keyboard",
      class extends HTMLElement {
        connectedCallback() {
          this.attachShadow({ mode: "open" }).appendChild(
            template.content.cloneNode(true)
          );

          this.addEventListener("keyclick", (evt) => {
            this.onKeyClick(
              evt.detail.key,
              evt.detail.code,
              evt.detail.isModifier
            );
          });
          this.addEventListener("keyrelease", (evt) => {
            this.emitKeyEvent("keyup", evt.detail.key, evt.detail.code);
          });
        }

        onKeyClick(key, code, isModifier) {
          // Make uppercase when shift is active – but only if no other modifier
          // is pressed at the same time.
          if (
            ["ShiftLeft", "ShiftRight"].some((m) =>
              this.isModifierKeyPressed(m)
            ) &&
            [
              "MetaLeft",
              "MetaRight",
              "AltLeft",
              "AltRight",
              "ControlLeft",
              "ControlRight",
            ].every((m) => !this.isModifierKeyPressed(m))
          ) {
            key = this.getShiftedKeyValue(key);
          }

          this.emitKeyEvent("keydown", key, code);

          if (!isModifier) {
            this.emitKeyEvent("keyup", key, code);

            // Remove pressed state from all modifier keys if non-modifier key
            // was pressed.
            this.clearPressedKeys();
          }
        }

        isModifierKeyPressed(keyCode) {
          return (
            this.shadowRoot.querySelectorAll(
              `.modifier[code=${keyCode}][pressed=true]`
            ).length > 0
          );
        }

        emitKeyEvent(eventType, key, code) {
          this.dispatchEvent(
            new KeyboardEvent(eventType, {
              bubbles: true,
              composed: true,
              key: key,
              code: code,
              metaKey:
                this.isModifierKeyPressed("MetaLeft") ||
                this.isModifierKeyPressed("MetaRight"),
              ctrlKey:
                this.isModifierKeyPressed("ControlLeft") ||
                this.isModifierKeyPressed("ControlRight"),
              shiftKey:
                this.isModifierKeyPressed("ShiftLeft") ||
                this.isModifierKeyPressed("ShiftRight"),
              altKey:
                this.isModifierKeyPressed("AltLeft") ||
                this.isModifierKeyPressed("AltRight"),
            })
          );
        }

        clearPressedKeys() {
          this.shadowRoot
            .querySelectorAll("[modifier=true][pressed=true]")
            .forEach((key) => {
              key.isPressed = false;
              this.emitKeyEvent("keyup", key.key, key.code);
            });
        }

        getShiftedKeyValue(key) {
          if (/^[a-z]$/.test(key)) {
            return key.toUpperCase();
          }
          const shiftMappings = {
            "`": "~",
            "1": "!",
            "2": "@",
            "3": "#",
            "4": "$",
            "5": "%",
            "6": "^",
            "7": "&",
            "8": "*",
            "9": "(",
            "0": ")",
            "-": "_",
            "=": "+",
            "[": "{",
            "]": "}",
            "\\": "|",
            ";": ":",
            "'": '"',
            ",": "<",
            ".": ">",
            "/": "?",
          };
          if (key in shiftMappings) {
            return shiftMappings[key];
          }
          // This key is the same regardless of whether the shift key is
          // pressed.
          return key;
        }
      }
    );
  })();
</script>
