<template id="paste-overlay-template">
  <style>
    .overlay {
      display: none;
    }

    :host([show="true"]) .overlay {
      display: flex;
    }

    .overlay {
      z-index: 1;
      position: fixed;
      left: 0%;
      top: 0%;
      width: 100%;
      height: 100%;
      margin: auto;
      background-color: rgba(255, 255, 255, 0.9);
      justify-content: center;
      align-items: center;
      font-size: 24pt;
    }
  </style>
  <div class="overlay" contenteditable="true">
    <p>
      Press Ctrl+V / Cmd+V to paste or any other key to cancel&nbsp;
    </p>
  </div>
</template>

<script>
  (function () {
    const doc = (document._currentScript || document.currentScript)
      .ownerDocument;
    const template = doc.querySelector("#paste-overlay-template");

    customElements.define(
      "paste-overlay",
      class extends HTMLElement {
        constructor() {
          super();
          this.addEventListener("keydown", this.onKeyDown);
          this.addEventListener("paste", this.onPaste);
          this.addEventListener("click", () => {
            this.show = false;
          });
        }

        connectedCallback() {
          this.attachShadow({ mode: "open" });
          this.shadowRoot.appendChild(template.content.cloneNode(true));
        }

        get show() {
          return this.getAttribute("show") === "true";
        }

        set show(newValue) {
          this.setAttribute("show", newValue);
        }

        static get observedAttributes() {
          return ["show"];
        }

        attributeChangedCallback(name, oldValue, newValue) {
          if (name === "show" && newValue === "true") {
            this.placeCaretInPasteOverlay();
          }
        }

        onKeyDown(evt) {
          const ctrlKeyCode = 17;
          const vKeyCode = 86;
          // Return false on Ctrl or V because otherwise we capture the
          // event before the paste event can occur.
          if (evt.keyCode === ctrlKeyCode || evt.keyCode === vKeyCode) {
            return false;
          }
          // Treat any other key as cancellation of the paste.
          this.show = false;

          // Return control to normal input.
          document.getElementById("app").focus();
        }

        // Place the caret (cursor) in the paste div so that we can listen for paste
        // events.
        placeCaretInPasteOverlay() {
          const pasteOverlay = this.shadowRoot.querySelector(".overlay");
          // This is largely copy-pasted from
          // https://stackoverflow.com/questions/4233265
          pasteOverlay.focus();

          // Move cursor to the end of the text.
          const range = document.createRange();
          range.selectNodeContents(pasteOverlay);
          range.collapse(false);
          const sel = window.getSelection();
          sel.removeAllRanges();
          sel.addRange(range);
        }

        onPaste(e) {
          // Stop data actually being pasted into div
          e.stopPropagation();
          e.preventDefault();

          // Get pasted data via clipboard API
          const clipboardData = e.clipboardData || window.clipboardData;
          this.dispatchEvent(
            new CustomEvent("paste-text", {
              detail: clipboardData.getData("Text"),
              bubbles: true,
              composed: true,
            })
          );
          this.show = false;
        }
      }
    );
  })();
</script>
