<template id="remote-screen-template">
  <style>
    @import "css/cursors.css";

    #screen::slotted(*) {
      max-width: 100%;
      max-height: 70vh;
      object-fit: contain;
    }

    @media screen and (min-width: 800px) {
      #screen::slotted(*) {
        max-width: 99%;
      }
    }

    @media screen and (min-width: 1000px) {
      #screen::slotted(*) {
        max-width: 97%;
      }
    }

    @media screen and (min-width: 1200px) {
      #screen::slotted(*) {
        max-width: 96%;
      }
    }

    @media screen and (min-width: 1300px) {
      #screen::slotted(*) {
        max-width: 93%;
      }
    }

    @media screen and (min-width: 1400px) {
      #screen::slotted(*) {
        max-width: 90%;
      }
    }

    @media screen and (min-height: 450px) {
      #screen::slotted(*) {
        max-height: 80vh;
      }
    }

    @media screen and (min-height: 600px) {
      #screen::slotted(*) {
        max-height: 85vh;
      }
    }

    @media screen and (min-height: 900px) {
      #screen::slotted(*) {
        max-height: 90vh;
      }
    }

    @media screen and (min-height: 1180px) {
      #screen::slotted(*) {
        max-height: 100vh;
      }
    }

    :host([fullscreen="true"]) .screen-wrapper {
      display: grid;
      overflow: auto;
    }

    :host([fullscreen="true"]) #screen::slotted(*) {
      margin: auto;
      max-width: 100vw;
      max-height: 100vh;
      width: 100%;
      height: 100%;
    }

    #mobile-keyboard-input {
      position: fixed;
      top: -1000px;
    }
  </style>
  <div class="screen-wrapper">
    <input id="mobile-keyboard-input" autocapitalize="off" type="text" />

    <slot id="screen">
      <!-- The slot must be filled with a single, non-nested element. Otherwise
           the CSS sizing settings cannot be correctly applied. -->
    </slot>
  </div>
</template>

<script type="module">
  import { RateLimitedMouse } from "/js/mouse.js";

  (function () {
    const template = document.querySelector("#remote-screen-template");

    customElements.define(
      "remote-screen",
      class extends HTMLElement {
        constructor() {
          super();

          // Prevent drag on screen for Firefox.
          this.addEventListener("dragstart", function (evt) {
            evt.preventDefault();
          });
          // Prevent drop on screen for Firefox.
          this.addEventListener("drop", function (evt) {
            evt.preventDefault();
          });
          this.addEventListener("fullscreenchange", () => {
            if (!document.fullscreenElement) {
              this.fullscreen = false;
            }
          });
          this.rateLimitedMouse = new RateLimitedMouse(
            this.millisecondsBetweenMouseEvents,
            (mouseEvent) => {
              this.dispatchEvent(
                new CustomEvent("mouse-event", {
                  detail: mouseEvent,
                  bubbles: true,
                  composed: true,
                })
              );
            }
          );
        }

        connectedCallback() {
          super.connectedCallback && super.connectedCallback();
          this.attachShadow({ mode: "open" }).appendChild(
            template.content.cloneNode(true)
          );

          this.elements = {
            screen: this.shadowRoot.getElementById("screen"),
          };

          // Forward all mouse activity that occurs over the image of the remote screen.
          this.elements.screen.addEventListener("mousemove", (evt) => {
            // Ensure that mouse drags don't attempt to drag the image on the screen.
            evt.preventDefault();

            this.rateLimitedMouse.onMouseMove(evt);
          });
          this.elements.screen.addEventListener("mousedown", (evt) => {
            this.rateLimitedMouse.onMouseDown(evt);
          });
          this.elements.screen.addEventListener("mouseup", (evt) => {
            this.rateLimitedMouse.onMouseUp(evt);
          });
          this.elements.screen.addEventListener("wheel", (evt) => {
            evt.preventDefault();
            this.rateLimitedMouse.onWheel(evt);
          });

          // Ignore the context menu so that it doesn't block the screen when the user
          // right-clicks.
          this.elements.screen.addEventListener("contextmenu", (evt) => {
            evt.preventDefault();
          });

          // Detect whether this is a touchscreen device.
          let isTouchScreen = false;
          this.shadowRoot.addEventListener("touchend", () => {
            isTouchScreen = true;
          });
          this.shadowRoot.addEventListener("click", () => {
            if (isTouchScreen) {
              this.shadowRoot.getElementById("mobile-keyboard-input").focus();
            }
          });

          // On mobile, the keydown events function differently due to the OS
          // attempting to autocomplete text. Instead of listening for keydown
          // events, we listen for input events.
          const mobileKeyboard = this.shadowRoot.getElementById(
            "mobile-keyboard-input"
          );
          mobileKeyboard.addEventListener("input", (evt) => {
            // Handle insertCompositionText, which mean typing in autocomplete
            // mode. The global keydown event handler processes all other key
            // input events.
            if (
              evt.inputType === "insertText" ||
              evt.inputType === "insertCompositionText"
            ) {
              sendTextInput(evt.data);
            }

            // Force the autocomplete sequence to restart.
            mobileKeyboard.blur();
            mobileKeyboard.value = "";
            mobileKeyboard.focus();
          });
        }

        disconnectedCallback() {
          super.disconnectedCallback && super.disconnectedCallback();
        }

        get fullscreen() {
          return this.getAttribute("fullscreen") === "true";
        }

        set fullscreen(newValue) {
          this.setAttribute("fullscreen", newValue);
        }

        get millisecondsBetweenMouseEvents() {
          return parseInt(
            this.getAttribute("milliseconds-between-mouse-events")
          );
        }

        set millisecondsBetweenMouseEvents(newValue) {
          this.setAttribute("milliseconds-between-mouse-events", newValue);
        }

        get cursor() {
          return this.shadowRoot
            .querySelector(".screen-wrapper")
            .getAttribute("cursor");
        }

        set cursor(newValue) {
          this.shadowRoot
            .querySelector(".screen-wrapper")
            .setAttribute("cursor", newValue);
        }

        static get observedAttributes() {
          return ["fullscreen", "milliseconds-between-mouse-events"];
        }

        attributeChangedCallback(name, oldValue, newValue) {
          if (name === "fullscreen" && newValue === "true") {
            const screenWrapper = this.shadowRoot.querySelector(
              ".screen-wrapper"
            );
            if (screenWrapper.requestFullscreen) {
              screenWrapper.requestFullscreen();
            } else if (screenWrapper.mozRequestFullScreen) {
              screenWrapper.mozRequestFullScreen();
            } else if (screenWrapper.webkitRequestFullscreen) {
              screenWrapper.webkitRequestFullscreen();
            } else if (screenWrapper.msRequestFullscreen) {
              screenWrapper.msRequestFullscreen();
            }
          } else if (name === "milliseconds-between-mouse-events") {
            this.rateLimitedMouse.setTimeoutWindow(parseInt(newValue));
          }
        }
      }
    );
  })();
</script>
