<template id="shutter-control-template">
  <style>
    .container {
      max-width: 400px;
      background-color: #f7f7f7;
      margin: 1rem auto;
      padding: 14px;
      color: #333;
      border: 1px solid rgb(92, 92, 92);
    }

    h2 {
      margin-top: 0;
    }

    .gpio-controls {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .spacer {
      min-width: 1rem;
    }
  </style>
  <div class="container">
    <h2>Shutter controls</h2>
    <div class="gpio-controls">
      <gpio-control>
        <span slot="button-text">Auto-Focus</span>
      </gpio-control>
      <div class="spacer"></div>
      <gpio-control>
        <span slot="button-text">Shutter</span>
      </gpio-control>
    </div>
  </div>
</template>

<script>
  (function () {
    const doc = (document._currentScript || document.currentScript)
      .ownerDocument;
    const template = doc.querySelector("#shutter-control-template");

    customElements.define(
      "shutter-control",
      class extends HTMLElement {
        connectedCallback() {
          this.attachShadow({ mode: "open" });
          this.shadowRoot.appendChild(template.content.cloneNode(true));
        }
      }
    );
  })();
</script>
