<template id="update-dialog-template">
  <style>
    @import "css/style.css";
    @import "css/button.css";

    #checking,
    #update-available,
    #latest,
    #updating,
    #update-finished,
    #restarting {
      display: none;
    }

    :host([state="checking"]) #checking {
      display: block;
    }

    :host([state="update-available"]) #update-available {
      display: block;
    }

    :host([state="latest"]) #latest {
      display: block;
    }

    :host([state="updating"]) #updating {
      display: block;
    }

    :host([state="update-finished"]) #update-finished {
      display: block;
    }

    :host([state="restarting"]) #restarting {
      display: block;
    }

    .updating-spinner {
      margin: 1rem 0;
    }
  </style>

  <div id="checking">
    <h3>Checking for updates</h3>
    <progress-spinner></progress-spinner>
  </div>

  <div id="update-available">
    <h3>Update TinyPilot</h3>
    <p>
      An update is available. Would you like to install the latest version?
    </p>
    <button id="confirm-update" class="btn-success" type="button">
      Update
    </button>
    <button id="cancel-update" type="button">Cancel</button>
  </div>

  <div id="latest">
    <h3>No Updates Available</h3>
    <p>You are running the latest version of TinyPilot.</p>
    <button id="ok-latest" type="button">OK</button>
  </div>

  <div id="updating">
    <h3>Please wait while TinyPilot updates</h3>
    <div class="updating-spinner">
      <progress-spinner></progress-spinner>
    </div>
    <countdown-timer id="timer" seconds="300"></countdown-timer>
  </div>

  <div id="restarting">
    <h3>Restarting to complete update</h3>
    <progress-spinner></progress-spinner>
  </div>

  <div id="update-finished">
    <h3>Update complete</h3>
    <button id="ok-finished" type="button">OK</button>
  </div>
</template>

<script src="/js/util/poll.js"></script>
<script>
  (function () {
    const doc = (document._currentScript || document.currentScript)
      .ownerDocument;
    const template = doc.querySelector("#update-dialog-template");

    customElements.define(
      "update-dialog",
      class extends HTMLElement {
        connectedCallback() {
          this.attachShadow({ mode: "open" });
          this.shadowRoot.appendChild(template.content.cloneNode(true));

          this.shadowRoot
            .getElementById("confirm-update")
            .addEventListener("click", () => {
              this._doUpdate();
            });
          this.shadowRoot
            .getElementById("cancel-update")
            .addEventListener("click", () => {
              this._close();
            });
          this.shadowRoot
            .getElementById("ok-latest")
            .addEventListener("click", () => {
              this._close();
            });
          this.shadowRoot
            .getElementById("ok-finished")
            .addEventListener("click", () => {
              location.reload();
            });
        }

        get state() {
          return this.getAttribute("state");
        }

        set state(newValue) {
          this.setAttribute("state", newValue);
        }

        checkVersion() {
          this.state = "checking";

          Promise.all([
            controllers.getVersion(),
            controllers.getLatestRelease(),
          ])
            .then((versions) => {
              const localVersion = versions[0];
              const latestRelease = versions[1];

              if (localVersion === latestRelease) {
                this.state = "latest";
              } else {
                this.state = "update-available";
              }
            })
            .catch((error) => {
              this._handleUpdateFailure({
                title: "Failed to Retrieve Version Information",
                details: error,
              });
            });
        }

        _waitForUpdateToFinish() {
          return poll({
            fn: controllers.getUpdateStatus,
            validate: (status) => {
              return status === "DONE";
            },
            interval: 2 * 1000,
            timeout: 300 * 1000,
          });
        }

        _performRestart() {
          return controllers
            .shutdown(/*restart*/ true)
            .then(() => {
              this.state = "restarting";
            })
            .catch((error) => {
              this._handleUpdateFailure({
                title: "Failed to Restart TinyPilot Device",
                details: error,
              });
            });
        }

        async _startUpdateWithRetries() {
          const maxAttempts = 3;
          for (let i = 1; i <= maxAttempts; i++) {
            try {
              return await controllers.update();
            } catch (error) {
              if (i === maxAttempts) {
                throw error;
              }
            }
          }
        }

        async _doUpdate() {
          this.state = "updating";
          const timer = this.shadowRoot.getElementById("timer");
          timer.start();

          try {
            await this._startUpdateWithRetries();
          } catch (error) {
            this._handleUpdateFailure({
              title: "Failed to Start Update",
              details: error,
            });
            return;
          }

          try {
            await this._waitForUpdateToFinish();
            // Updating causes the backend to restart, changing the CSRF token.
            await controllers.refreshCsrfToken();
            await this._performRestart();
          } catch (error) {
            this._handleUpdateFailure({
              title: "Failed to Complete Update",
              details: error,
            });
            return;
          }
        }

        _handleUpdateFailure(errorInfo) {
          this._close();
          this.dispatchEvent(
            new CustomEvent("update-failure", {
              detail: errorInfo,
              bubbles: true,
              composed: true,
            })
          );
        }

        _close() {
          this.dispatchEvent(
            new CustomEvent("dialog-closed", {
              bubbles: true,
              composed: true,
            })
          );
        }
      }
    );
  })();
</script>
