<template id="update-wait-template">
  <style>
    .overlay {
      display: none;
      text-align: center;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    :host([show="true"]) .overlay {
      display: block;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 2;
    }

    #update-wait-panel > div {
      background-color: rgb(252, 236, 223);
      border: 1px solid rgb(139, 97, 62);
      max-width: 800px;
      margin: 100px auto 0rem auto;
      padding: 2rem;
    }
  </style>
  <div id="update-wait-panel" class="overlay">
    <div>
      <h3 id="update-wait-message"></h3>
      <h2 id="timer"></h2>
    </div>
  </div>
</template>

<script>
  (function () {
    const doc = (document._currentScript || document.currentScript)
      .ownerDocument;
    const template = doc.querySelector("#update-wait-template");

    customElements.define(
      "update-wait",
      class extends HTMLElement {
        constructor() {
          super();
        }
        connectedCallback() {
          this.attachShadow({ mode: "open" });
          this.shadowRoot.appendChild(template.content.cloneNode(true));
        }
        get show() {
          return this.getAttribute("show") === "true";
        }

        set show(newValue) {
          this.setAttribute("show", newValue);
        }

        get message() {
          return this.shadowRoot.getElementById("update-wait-message")
            .innerText;
        }

        set message(newValue) {
          this.shadowRoot.getElementById(
            "update-wait-message"
          ).innerText = newValue;
        }

        get timer() {
          return this.shadowRoot.getElementById("timer").innerText;
        }

        set timer(newValue) {
          this.shadowRoot.getElementById("timer").innerText = newValue;
        }
      }
    );
  })();
</script>
