<template id="video-settings-template">
  <style>
    @import "css/style.css";
    @import "css/button.css";

    #loading,
    #edit,
    #saving {
      display: none;
    }

    :host([state="loading"]) #loading,
    :host([state="edit"]) #edit,
    :host([state="saving"]) #saving {
      display: block;
    }

    .settings-container {
      margin: 2rem 0;
    }

    .setting {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 1.5rem;
    }

    .setting label {
      display: block;
      text-align: right;
      margin-right: 0.5em;
      width: 6em;
    }

    .setting input {
      display: block;
      flex: 1;
      max-width: 28em;
    }

    .setting-value {
      width: 5em;
      text-align: left;
      margin-left: 0.75em;
    }
  </style>
  <div id="loading">
    <h3>Retrieving Video Settings</h3>
    <progress-spinner></progress-spinner>
  </div>
  <div id="edit">
    <h3>Change Video Settings</h3>
    <div class="settings-container">
      <div class="setting">
        <label for="video-fps-slider">Frame Rate</label>
        <input type="range" id="video-fps-slider" min="1" max="30" />
        <div id="video-fps-display" class="setting-value"></div>
      </div>
      <div class="setting">
        <label for="video-jpeg-quality-slider">Quality</label>
        <input type="range" id="video-jpeg-quality-slider" min="1" max="100" />
        <div id="video-jpeg-quality-display" class="setting-value"></div>
      </div>
    </div>
    <button class="save-btn btn-success" type="button">
      Apply
    </button>
    <button class="restore-btn btn-action" type="button">
      Restore Defaults
    </button>
    <button class="close-btn" type="button">Cancel</button>
  </div>
  <div id="saving">
    <h3>Applying Video Settings</h3>
    <progress-spinner></progress-spinner>
  </div>
</template>

<script type="module">
  import {
    DialogClosedEvent,
    DialogFailedEvent,
    DialogCloseStateChangedEvent,
  } from "/js/events.js";
  import {
    applyVideoSettings,
    getDefaultVideoFps,
    getDefaultVideoJpegQuality,
    getVideoFps,
    getVideoJpegQuality,
    setVideoFps,
    setVideoJpegQuality,
  } from "/js/controllers.js";

  (function () {
    const template = document.querySelector("#video-settings-template");

    customElements.define(
      "video-settings-dialog",
      class extends HTMLElement {
        states = {
          LOADING: "loading",
          EDIT: "edit",
          SAVING: "saving",
        };
        statesWithoutDialogClose = new Set([
          this.states.LOADING,
          this.states.SAVING,
        ]);

        constructor() {
          super();
          this.attachShadow({ mode: "open" });
          this.defaultSettings = {};
        }

        connectedCallback() {
          this.shadowRoot.appendChild(template.content.cloneNode(true));
          this.shadowRoot
            .querySelector(".close-btn")
            .addEventListener("click", () =>
              this.dispatchEvent(new DialogClosedEvent())
            );
          this.shadowRoot
            .querySelector("#edit .restore-btn")
            .addEventListener("click", () => this._restoreSettings());
          this.shadowRoot
            .querySelector("#edit .save-btn")
            .addEventListener("click", () => this._saveSettings());
          this.shadowRoot
            .querySelector("#video-fps-slider")
            .addEventListener("input", (event) => {
              this._setVideoFpsDisplay(event.target.value);
            });
          this.shadowRoot
            .querySelector("#video-jpeg-quality-slider")
            .addEventListener("input", (event) => {
              this._setVideoJpegQualityDisplay(event.target.value);
            });
        }

        get state() {
          return this.getAttribute("state");
        }

        set state(newValue) {
          this.setAttribute("state", newValue);
          this.dispatchEvent(
            new DialogCloseStateChangedEvent(
              !this.statesWithoutDialogClose.has(newValue)
            )
          );
        }

        _setVideoFpsDisplay(videoFps) {
          const videoFpsDisplayElement = this.shadowRoot.querySelector(
            "#video-fps-display"
          );
          videoFpsDisplayElement.innerHTML = `${videoFps} fps`;
        }

        _setVideoJpegQualityDisplay(videoJpegQuality) {
          const videoJpegQualityDisplayElement = this.shadowRoot.querySelector(
            "#video-jpeg-quality-display"
          );
          videoJpegQualityDisplayElement.innerHTML = `${videoJpegQuality} %`;
        }

        _fetchVideoFps() {
          return getVideoFps()
            .then((videoFps) => {
              this.shadowRoot.querySelector(
                "#video-fps-slider"
              ).value = videoFps;
              this._setVideoFpsDisplay(videoFps);
            })
            .catch((error) => {
              this.dispatchEvent(
                new DialogFailedEvent({
                  title: "Failed to Load Video FPS",
                  details: error,
                })
              );
              return Promise.reject(error);
            });
        }

        _fetchVideoJpegQuality() {
          return getVideoJpegQuality()
            .then((videoJpegQuality) => {
              this.shadowRoot.querySelector(
                "#video-jpeg-quality-slider"
              ).value = videoJpegQuality;
              this._setVideoJpegQualityDisplay(videoJpegQuality);
            })
            .catch((error) => {
              this.dispatchEvent(
                new DialogFailedEvent({
                  title: "Failed to Load Video JPEG Quality",
                  details: error,
                })
              );
              return Promise.reject(error);
            });
        }

        getSettings() {
          this.state = this.states.LOADING;
          Promise.all([
            this._fetchVideoFps(),
            this._fetchVideoJpegQuality(),
            this._fetchDefaultVideoFps(),
            this._fetchDefaultVideoJpegQuality(),
          ])
            .then(() => {
              this.state = this.states.EDIT;
            })
            .catch(() => {
              // Ignore errors here because they have already been handled by
              // their individual setting load function.
            });
        }

        _fetchDefaultVideoFps() {
          return getDefaultVideoFps()
            .then((videoFps) => {
              this.defaultSettings.videoFps = videoFps;
            })
            .catch((error) => {
              this.dispatchEvent(
                new DialogFailedEvent({
                  title: "Failed to Load Default Video FPS",
                  details: error,
                })
              );
              return Promise.reject(error);
            });
        }

        _fetchDefaultVideoJpegQuality() {
          return getDefaultVideoJpegQuality()
            .then((videoJpegQuality) => {
              this.defaultSettings.videoJpegQuality = videoJpegQuality;
            })
            .catch((error) => {
              this.dispatchEvent(
                new DialogFailedEvent({
                  title: "Failed to Load Default Video JPEG Quality",
                  details: error,
                })
              );
              return Promise.reject(error);
            });
        }

        _restoreVideoFps() {
          this.shadowRoot.querySelector(
            "#video-fps-slider"
          ).value = this.defaultSettings.videoFps;
          this._setVideoFpsDisplay(this.defaultSettings.videoFps);
        }

        _restoreVideoJpegQuality() {
          this.shadowRoot.querySelector(
            "#video-jpeg-quality-slider"
          ).value = this.defaultSettings.videoJpegQuality;
          this._setVideoJpegQualityDisplay(
            this.defaultSettings.videoJpegQuality
          );
        }

        _restoreSettings() {
          this._restoreVideoFps();
          this._restoreVideoJpegQuality();
        }

        _saveVideoFps() {
          let videoFps = this.shadowRoot.querySelector("#video-fps-slider")
            .value;
          return setVideoFps(videoFps).catch((error) => {
            this.dispatchEvent(
              new DialogFailedEvent({
                title: "Failed to Save Video FPS",
                details: error,
              })
            );
            return Promise.reject(error);
          });
        }

        _saveVideoJpegQuality() {
          let videoJpegQuality = this.shadowRoot.querySelector(
            "#video-jpeg-quality-slider"
          ).value;
          return setVideoJpegQuality(videoJpegQuality).catch((error) => {
            this.dispatchEvent(
              new DialogFailedEvent({
                title: "Failed to Save Video JPEG Quality",
                details: error,
              })
            );
            return Promise.reject(error);
          });
        }

        _saveSettings() {
          this.state = this.states.SAVING;
          Promise.all([this._saveVideoFps(), this._saveVideoJpegQuality()])
            .then(applyVideoSettings)
            .then(() => {
              // Note: After the video stream stops, it doesn't try to
              // reconnect. So in order to restart the video stream, we need to
              // reload the page.
              location.reload();
            })
            .catch(() => {
              // Ignore errors here because they have already been handled by
              // their individual setting save function.
            });
        }
      }
    );
  })();
</script>
