<template id="video-settings-template">
  <style>
    @import "css/style.css";
    @import "css/button.css";

    #loading,
    #edit,
    #saving {
      display: none;
    }

    :host([state="loading"]) #loading,
    :host([state="edit"]) #edit,
    :host([state="saving"]) #saving {
      display: block;
    }

    .input-container label {
      display: inline-block;
      text-align: right;
      width: 100px;
    }
    .input-container input {
      display: inline-block;
    }
  </style>
  <div id="loading">
    <h3>Retrieving video settings</h3>
    <progress-spinner></progress-spinner>
  </div>
  <div id="edit">
    <h3>Change video settings</h3>
    <div class="input-container">
      <label for="video-fps">FPS:</label>
      <input
        type="text"
        id="video-fps"
        name="ustreamer_desired_fps"
        type="number"
        size="15"
        class="monospace"
      />
      <p id="input-error"></p>
    </div>
    <div class="input-container">
      <label for="video-resolution">Resolution:</label>
      <input
        type="text"
        id="video-resolution"
        name="ustreamer_resolution"
        size="15"
        class="monospace"
      />
      <p id="input-error"></p>
    </div>
    <div class="input-container">
      <label for="video-jpeg-quality">JPEG Quality:</label>
      <input
        type="text"
        id="video-jpeg-quality"
        name="ustreamer_jpeg_quality"
        size="15"
        class="monospace"
      />
      <p id="input-error"></p>
    </div>
    <button class="save-btn btn-success" type="button">
      Save
    </button>
    <button class="close-btn" type="button">Cancel</button>
  </div>
  <div id="saving">
    <h3>Saving video settings</h3>
    <progress-spinner></progress-spinner>
  </div>
</template>

<script src="/js/controllers.js"></script>
<script>
  (function () {
    const doc = (document._currentScript || document.currentScript)
      .ownerDocument;
    const template = doc.querySelector("#video-settings-template");

    customElements.define(
      "video-settings-dialog",
      class extends HTMLElement {
        constructor() {
          super();
          this.attachShadow({ mode: "open" });
        }

        connectedCallback() {
          this.shadowRoot.appendChild(template.content.cloneNode(true));
          this.shadowRoot
            .querySelector(".close-btn")
            .addEventListener("click", () => this._close());
          this.shadowRoot
            .querySelector("#edit .save-btn")
            .addEventListener("click", () => this._saveSettings());
        }

        get state() {
          return this.getAttribute("state");
        }

        set state(newValue) {
          this.setAttribute("state", newValue);
        }

        getSettings() {
          this.state = "loading";
          return controllers
            .getSettings()
            .then((settingsData) => {
              console.log(settingsData);
              for (let key in settingsData) {
                let inputElement = this.shadowRoot.querySelector(
                  `#edit input[name=${key}]`
                );
                if (!inputElement) continue;
                inputElement.value = settingsData[key];
              }
              this.state = "edit";
            })
            .catch((error) => {
              console.error(error);
              this.state = "edit";
            });
        }

        _saveVideoResolution() {
          let videoResolution = this.shadowRoot.querySelector(
            "#edit input[name=ustreamer_resolution]"
          ).value;
          return (videoResolution === ""
            ? controllers.unsetVideoResolution()
            : controllers.setVideoResolution(videoResolution)
          ).catch((error) => {
            console.error("_saveVideoResolution", error);
          });
        }

        _saveVideoFps() {
          let videoFps = this.shadowRoot.querySelector(
            "#edit input[name=ustreamer_desired_fps]"
          ).value;
          return (videoFps === ""
            ? controllers.unsetVideoFps()
            : controllers.setVideoFps(videoFps)
          ).catch((error) => {
            console.error("_saveVideoFps", error);
          });
        }

        _saveVideoJpegQuality() {
          let videoJpegQuality = this.shadowRoot.querySelector(
            "#edit input[name=ustreamer_jpeg_quality]"
          ).value;
          return (videoJpegQuality === ""
            ? controllers.unsetVideoJpegQuality()
            : controllers.setVideoJpegQuality(videoJpegQuality)
          ).catch((error) => {
            console.error("_saveVideoJpegQuality", error);
          });
        }

        _saveSettings() {
          Promise.all([
            this._saveVideoResolution(),
            this._saveVideoFps(),
            this._saveVideoJpegQuality(),
          ]).then((results) => {
            console.log(results);
            this.state = "edit";
          });
        }

        _close() {
          this.dispatchEvent(
            new CustomEvent("dialog-closed", {
              bubbles: true,
              composed: true,
            })
          );
        }
      }
    );
  })();
</script>
