<!-- Remark about the terminology: in the UI, we decided to say `Wi-Fi` instead
     of `WiFi`, as this is the official spelling. We are not super strict about
     this for code symbols, however, mainly for simplicity. -->
<template id="wifi-template">
  <style>
    @import "css/style.css";
    @import "css/button.css";

    #initializing,
    #prompt,
    #changing {
      display: none;
    }

    :host([state="initializing"]) #initializing,
    :host([state="prompt"]) #prompt,
    :host([state="changing"]) #changing {
      display: block;
    }

    #input-error {
      margin-top: 1rem;
    }

    label {
      width: 8.5em;
      text-align: right;
    }

    .input-container {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 1em;
      margin-top: 1.5em;
      padding-left: 6em;
    }

    .input-row {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5em;
    }

    .button-container {
      margin-top: 1em;
    }
  </style>

  <div id="initializing">
    <h3>Retrieving Current Wi-Fi Settings</h3>
    <div>
      <progress-spinner></progress-spinner>
    </div>
  </div>

  <div id="prompt">
    <h3>Wi-Fi Settings</h3>
    <p>
      Connect your TinyPilot device to a wireless network by entering your Wi-Fi credentials.
    </p>
    <inline-message variant="warning" id="no-ethernet-warning">
      <strong>No Ethernet:</strong> TinyPilot is currently not connected via
      Ethernet. If you change your Wi-Fi settings, you may lose access to your
      TinyPilot device until you reconnect an Ethernet cable.
    </inline-message>
    <div class="input-container">
      <div class="input-row">
        <label for="ssid-input">SSID:</label>
        <input
          type="text"
          id="ssid-input"
          size="30"
          class="monospace"
          autocomplete="off"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false"
          placeholder="WiFi-Name"
        />
      </div>
      <div class="input-row">
        <label for="psk-input">Password:</label>
        <input
          type="password"
          id="psk-input"
          size="30"
          class="monospace"
          autocomplete="off"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false"
          placeholder="(hidden)"
        />
      </div>
      <div class="input-row">
        <label for="country-code-input">Country Code:</label>
        <input
          type="text"
          id="country-code-input"
          size="4"
          maxlength="2"
          class="monospace"
          autocomplete="off"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false"
          placeholder="US"
        />
      </div>
    </div>
    <inline-message variant="error" id="input-error">
      <strong>Invalid Wi-Fi Settings:</strong>
      <span id="input-error-reason"><!-- Filled programmatically --></span>
    </inline-message>
    <div class="button-container">
      <button id="disable-button" class="btn-danger" type="button">
        Disable
      </button>
      <button id="enable-button" class="btn-success" type="button">
        Enable
      </button>
      <button class="close-button" type="button">Close</button>
    </div>
  </div>

  <div id="changing">
    <h3>Applying Changes</h3>
    <progress-spinner></progress-spinner>
  </div>
</template>

<script type="module">
  import {
    DialogClosedEvent,
    DialogFailedEvent,
    DialogCloseStateChangedEvent,
  } from "/js/events.js";
  import {
    getNetworkStatus,
    getWifiSettings,
    enableWifi,
    disableWifi,
  } from "/js/controllers.js";

  (function () {
    const template = document.querySelector("#wifi-template");

    customElements.define(
      "wifi-dialog",
      class extends HTMLElement {
        _states = {
          INITIALIZING: "initializing",
          PROMPT: "prompt",
          CHANGING: "changing",
        };
        _statesWithoutDialogClose = new Set([
          this._states.INITIALIZING,
          this._states.CHANGING,
        ]);

        connectedCallback() {
          this.attachShadow({ mode: "open" }).appendChild(
            template.content.cloneNode(true)
          );
          this._elements = {
            noEthernetWarning: this.shadowRoot.querySelector(
              "#no-ethernet-warning"
            ),
            inputError: this.shadowRoot.querySelector("#input-error"),
            inputErrorReason: this.shadowRoot.querySelector(
              "#input-error-reason"
            ),
            ssidInput: this.shadowRoot.querySelector("#ssid-input"),
            pskInput: this.shadowRoot.querySelector("#psk-input"),
            countryCodeInput: this.shadowRoot.querySelector(
              "#country-code-input"
            ),
            enableButton: this.shadowRoot.querySelector("#enable-button"),
            disableButton: this.shadowRoot.querySelector("#disable-button"),
          };

          [
            this._elements.ssidInput,
            this._elements.pskInput,
            this._elements.countryCodeInput,
          ].forEach((el) =>
            el.addEventListener("input", () => {
              this._refreshButtons();
            })
          );
          this._elements.enableButton.addEventListener("click", () => {
            this._enable();
          });
          this._elements.disableButton.addEventListener("click", () => {
            this._disable();
          });
          this.shadowRoot.querySelectorAll(".close-button").forEach((el) =>
            el.addEventListener("click", () => {
              this.dispatchEvent(new DialogClosedEvent());
            })
          );
        }

        get _state() {
          return this.getAttribute("state");
        }

        set _state(newValue) {
          this.setAttribute("state", newValue);
          this.dispatchEvent(
            new DialogCloseStateChangedEvent(
              !this._statesWithoutDialogClose.has(newValue)
            )
          );
        }

        async initialize() {
          this._state = this._states.INITIALIZING;

          const wifiSettings = await getWifiSettings();
          this._elements.ssidInput.value = wifiSettings.ssid;
          this._elements.countryCodeInput.value = wifiSettings.countryCode;
          this._elements.pskInput.value = "";
          this._initialWiFiSettings = { psk: "", ...wifiSettings };

          this._elements.noEthernetWarning.hide();
          this._elements.inputError.hide();
          const networkStatus = await getNetworkStatus();
          if (!networkStatus.ethernet) {
            this._elements.noEthernetWarning.show();
          }

          this._refreshButtons();
          this._state = this._states.PROMPT;
        }

        _refreshButtons() {
          let hasInputChanged = false;
          [
            [this._elements.ssidInput, this._initialWiFiSettings.ssid],
            [this._elements.pskInput, this._initialWiFiSettings.psk],
            [
              this._elements.countryCodeInput,
              this._initialWiFiSettings.countryCode,
            ],
          ].forEach(([el, initialValue]) => {
            if (el.value !== initialValue) {
              hasInputChanged = true;
            }
          });

          let isMandatoryInputMissing = false;
          [this._elements.ssidInput, this._elements.countryCodeInput].forEach(
            (el) => {
              if (el.value === "") {
                isMandatoryInputMissing = true;
              }
            }
          );

          // The “Enable” button is unavailable if the user hasn’t made any
          // changes or if mandatory fields are still missing.
          this._elements.enableButton.disabled =
            !hasInputChanged || isMandatoryInputMissing;

          // The “Disable” button is only available if there currently is a
          // WiFi configuration (i.e., if there is an initial SSID value).
          this._elements.disableButton.disabled =
            !this._initialWiFiSettings.ssid;
        }

        async _enable() {
          this._state = this._states.CHANGING;
          try {
            await enableWifi(
              this._elements.countryCodeInput.value,
              this._elements.ssidInput.value,
              // The backend expects a value of `null` to indicate an open
              // WiFi, not an empty string.
              this._elements.pskInput.value || null
            );
          } catch (error) {
            if (error.code === "INVALID_WIFI_SETTINGS") {
              // Display validation errors inline in order to make it more
              // convenient for the user to correct them.
              this._elements.inputErrorReason.textContent = error.message;
              this._elements.inputError.show();
              this._state = this._states.PROMPT;
              return;
            }
            this.dispatchEvent(
              new DialogFailedEvent({
                title: "Failed to Enable Wi-Fi",
                details: error,
              })
            );
            return;
          }
          this.dispatchEvent(new DialogClosedEvent());
        }

        async _disable() {
          this._state = this._states.CHANGING;
          try {
            await disableWifi();
          } catch (error) {
            this.dispatchEvent(
              new DialogFailedEvent({
                title: "Failed to Disable Wi-Fi",
                details: error,
              })
            );
            return;
          }
          this.dispatchEvent(new DialogClosedEvent());
        }
      }
    );
  })();
</script>
