# This file uses CircleCI's dynamic configuration feature, which can dynamically
# generate pipeline parameters and/or YAML configurations. See
# https://circleci.com/docs/dynamic-config/
# In this case, we're dynamically loading the rest of our YAML configurations
# (i.e., .circleci/continue_config.yml) at runtime.
version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.4
workflows:
  build_pipeline:
    jobs:
      - path-filtering/filter:
          name: build_pipeline_params
          mapping: |
            ansible-role/.* should_build_ansible_role true
          base-revision: master
          config-path: .circleci/continue_config.yml
