# Minimal set of dependencies to bootstrap an Ansible virtualenv.
# When modifying dependencies, update the credit in /app/license_notice.py

ansible==4.2.0
cffi==1.14.4
cryptography==35.0.0
Jinja2==2.11.2
MarkupSafe==1.1.1
pkg-resources==0.0.0
pycparser==2.20
pyOpenSSL==20.0.1
PyYAML==5.3.1
six==1.15.0
