@import "style.css";

button,
.btn {
  display: inline-block;
  padding: 0.4rem 1.25rem;
  margin: 1rem;
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-family: inherit;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: var(--border-radius);
  border: 1px solid var(--brand-metallic-medium);
  background: var(--brand-metallic-light)
    linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 60%);
}

button:hover,
.btn:hover,
button:focus,
.btn:focus {
  background-color: var(--brand-metallic-bright);
}

button:focus,
.btn:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active,
.btn:active {
  transform: scale(0.99);
}

button:disabled,
.btn:disabled {
  cursor: not-allowed;
}

.btn-action {
  background-color: var(--brand-blue);
  border-color: var(--brand-blue-dark);
}

.btn-action:hover,
.btn-action:active,
.btn-action:focus {
  background-color: var(--brand-blue-bright);
}

.btn-action:disabled {
  background-color: var(--brand-blue-light);
}

.btn-success {
  background-color: var(--brand-green);
  border-color: var(--brand-green-dark);
}

.btn-success:hover,
.btn-success:active,
.btn-success:focus {
  background-color: var(--brand-green-bright);
}

.btn-success:disabled {
  background-color: var(--brand-green-light);
}

.btn-danger {
  background-color: var(--brand-red);
  border-color: var(--brand-red-dark);
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus {
  background-color: var(--brand-red-bright);
}

.btn-danger:disabled {
  background-color: var(--brand-red-light);
}

.btn-text {
  text-decoration: underline;
  cursor: pointer;
  color: #555;
}

.btn-external-link {
  background-image: url("/img/external-link-icon.svg");
  background-repeat: no-repeat;
  background-position: top 49% right 1.2em;
  background-size: 0.75em;
  padding-right: 2.5em;
}
