*[cursor="disabled"] > * {
  cursor: not-allowed !important;
}

*[cursor="default"] > * {
  cursor: default !important;
}

*[cursor="none"] > * {
  cursor: none !important;
}

*[cursor="crosshair"] > * {
  cursor: crosshair !important;
}

*[cursor="dot"] > * {
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAb0lEQVQ4T9WSQQ4AMQRFuZfju5cJKcG0adNduyOer3yE/5NJTlOY8yUAABGZc4hWGvUZDIiZiygRWZxhBw3qQB9ZGzis4FLpCNypeRNXDcWHQP3Dbty+VWWuzuELuzJAwEO+nHAcfWm5XNwN2z0NHyeAUAvGKOgOAAAAAElFTkSuQmCC")
      6 6,
    auto !important;
}

*[cursor="pointer"] > * {
  cursor: pointer !important;
}

*[cursor="cell"] > * {
  cursor: cell !important;
}
