*[cursor="disabled"] > * {
  cursor: not-allowed !important;
}

*[cursor="default"] > * {
  cursor: default !important;
}

*[cursor="none"] > * {
  cursor: none !important;
}

*[cursor="crosshair"] > * {
  cursor: crosshair !important;
}

*[cursor="dot"] > * {
  cursor: url("/img/dot-cursor.png") 6 6, auto !important;
}

*[cursor="pointer"] > * {
  cursor: pointer !important;
}
