.footer {
  margin: 2rem 0;
}

.footer .list-inline {
  padding: 0;
  list-style: none;
}

.footer .list-inline-item {
  display: inline-block;
}

.footer a {
  color: white;
}

.footer li a:hover {
  cursor: pointer;
}
