#keystroke-history {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(252, 236, 223);
  border: 1px solid rgb(139, 97, 62);
  margin: 2rem auto;
  padding: 1rem;
  color: black;
}

#recent-keys {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 90px;
  min-width: 800px;
}

.key-card {
  margin: 1rem;
  padding: 1rem;
  display: block;
  background-color: aliceblue;
  font-family: "Courier New", Courier, monospace;
  border: 1px solid gray;
  width: 40px;
}

.processed-key-card {
  background-color: rgb(168, 255, 168);
}

.unsupported-key-card {
  background-color: red;
}

.manual-modifiers {
  border: 1px dotted rgba(0, 0, 0, 0.226);
  margin-top: 1rem;
  display: inline-flex;
  padding: 0.5rem;
}
