#keystroke-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(244, 237, 231);
  border: 1px solid rgb(139, 97, 62);
  margin: 2rem auto;
  padding: 1rem;
  color: black;
}
