#keystroke-history {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(252, 236, 223);
  border: 1px solid rgb(139, 97, 62);
  margin: 2rem auto;
  padding: 1rem;
  color: black;
}

#recent-keys {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 800px;
  min-height: 90px;
  transition: min-height 0.25s ease-in;
}

#recent-keys.hide-keys {
  min-height: 0px;
}

.manual-modifiers {
  border: 1px dotted rgba(0, 0, 0, 0.226);
  margin-top: 1rem;
  display: inline-flex;
  padding: 0.5rem;
}

.manual-modifiers .inner {
  display: flex;
  flex-direction: column;
}
