@import "style.css";

#keystroke-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--brand-sand-light);
  border: 1px solid var(--brand-metallic-dark);
  margin: 2rem auto;
  padding: 1rem;
  color: black;
}
