.keyboard {
  width: 992px;
  min-width: 992px;
  background-color: #f7f7f7;
  margin: 0px auto;
  padding: 14px;
  color: #333;
}

.keyboard-block {
  display: inline-block;
}

#keyboard-block-left {
  margin-right: 14px;
  width: 780px;
}

#keyboard-block-right {
  margin-left: 14px;
  width: 156px;
}

.keyboard-row {
  width: 100%;
  float: left;
}

.keyboard-row-bump {
  padding-bottom: 28px;
}
