#remote-screen {
  background: rgb(114, 114, 114);
}

#remote-screen-img {
  object-fit: contain;
}

#remote-screen.default {
  display: grid;
  max-width: 90%;
  max-height: 1080px;
  margin: auto;
}

#remote-screen.default img {
  width: 100%;
}

#remote-screen.fill {
}

#remote-screen.fill img {
  width: 100%;
}

#remote-screen.fill2 {
  margin: 0 auto;
  max-width: 90vw;
  max-height: 80vh;
  overflow: auto;
}

#remote-screen.fillfull {
  display: grid;
}

#remote-screen.fillfull img {
  margin: auto;
  height: 100%;
  max-height: 100vh;
  max-width: 100vw;
}

#remote-screen.full {
  display: grid;
  overflow: auto;
}

#remote-screen.full img {
  margin: auto;
}
