.spinner {
  margin: auto;
  border: 10px solid #e6d4c8;
  border-top: 10px solid #664bd2;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
