body {
  margin: 0;
  background: rgb(114, 114, 114);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

p {
  font-family: Lora;
}

h1,
h2,
h3,
h4,
.brand {
  font-family: Nunito;
}

a {
  color: rgb(192, 255, 110);
  text-decoration: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 2rem;
  margin: 0;
  color: white;
  background-color: rgb(42, 42, 143);
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
}

.navbar .brand {
  font-size: 1.5em;
}

.navbar .nav-items {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.navbar .nav-items {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.navbar .nav-item {
  margin-left: 1.5rem;
}
.nav-icon img {
  max-height: 22px;
}

#remote-screen {
  max-width: 1280px;
  max-height: 720px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

#remote-screen img {
  width: 100%;
}

.keyboard-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1rem;
}

.keyboard-status .status-indicator {
  display: none;
  margin-left: 0.8rem;
}

.keyboard-status .status-dot {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  display: inline-block;
}

#status-connected .status-dot {
  border: 1px solid rgb(190, 255, 170);
  background-color: rgb(116, 238, 116);
}

#status-disconnected .status-dot {
  border: 1px solid rgb(255, 82, 82);
  background-color: red;
}

#disconnect-reason {
  color: red;
  visibility: hidden;
}

.keystroke-history {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(252, 236, 223);
  border: 1px solid rgb(139, 97, 62);
  margin: 2rem auto;
  padding: 1rem;
  color: black;
}

#recent-keys {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 800px;
}

.key-card {
  margin: 1rem;
  padding: 1rem;
  display: block;
  background-color: aliceblue;
  font-family: "Courier New", Courier, monospace;
  border: 1px solid gray;
  width: 40px;
}

.processed-key-card {
  background-color: rgb(168, 255, 168);
}

.unsupported-key-card {
  background-color: red;
}

.history-form {
  margin-top: 1rem;
}

#error-panel {
  display: none;
  background-color: rgb(255, 133, 133);
  border: 2px solid rgb(175, 1, 1);
  max-width: 800px;
  padding: 1rem 3rem;
  margin: 0 auto 1rem auto;
}

#error-panel #error-type {
  margin-top: 0;
}
