@import "button.css";
@import "navbar.css";

body {
  margin: 0;
  background: rgb(114, 114, 114);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

* {
  font-family: Lora;
}

*:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
.brand {
  font-family: Nunito;
}

a {
  color: rgb(192, 255, 110);
  text-decoration: none;
}

img {
  object-fit: contain;
}

.btn-danger {
  background-color: rgb(153, 8, 8);
}

.btn-danger:hover {
  background-color: rgb(223, 48, 48);
}

#remote-screen {
  max-width: 85%;
  max-height: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

#remote-screen img {
  width: 100%;
  cursor: crosshair;
}

#keystroke-history {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(252, 236, 223);
  border: 1px solid rgb(139, 97, 62);
  margin: 2rem auto;
  padding: 1rem;
  color: black;
}

#recent-keys {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 800px;
  min-height: 90px;
}

.key-card {
  margin: 1rem;
  padding: 1rem;
  display: block;
  background-color: aliceblue;
  font-family: "Courier New", Courier, monospace;
  border: 1px solid gray;
  width: 40px;
}

.processed-key-card {
  background-color: rgb(168, 255, 168);
}

.unsupported-key-card {
  background-color: red;
}

.question-icon {
  max-width: 20px;
}

.manual-modifiers {
  border: 1px dotted rgba(0, 0, 0, 0.226);
  margin-top: 1rem;
  display: inline-flex;
  padding: 0.5rem;
}

#error-panel {
  display: none;
  background-color: rgb(255, 133, 133);
  border: 2px solid rgb(175, 1, 1);
  max-width: 800px;
  padding: 1rem 3rem;
  margin: 0 auto 1rem auto;
}

#error-panel #error-type {
  margin-top: 0;
}

#shutdown-confirmation-panel {
  display: none;
  background-color: rgb(252, 236, 223);
  border: 1px solid rgb(139, 97, 62);
  max-width: 800px;
  margin: 0 auto 1rem auto;
  padding: 2rem;
}
