@import "button.css";
@import "keyboard-panel.css";
@import "navbar.css";

body {
  margin: 0;
  background: rgb(114, 114, 114);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

* {
  font-family: Lora;
}

*:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
.brand {
  font-family: Nunito;
}

a {
  color: rgb(192, 255, 110);
  text-decoration: none;
}

img {
  object-fit: contain;
}

#remote-screen {
  background: rgb(114, 114, 114);
}

#remote-screen-img {
  object-fit: contain;
}
#remote-screen[fullscreen="false"] {
  padding: 0 1rem;
}

#remote-screen[fullscreen="false"] > img {
  margin: 0 auto;
  max-width: 85%;
  max-height: 1080px;
}

#remote-screen[fullscreen="true"] {
  display: grid;
  overflow: auto;
}

#remote-screen[fullscreen="true"] > img {
  margin: auto;
  height: 100%;
  max-height: 100vh;
  max-width: 100vw;
}

.question-icon {
  max-width: 20px;
}

#error-panel {
  display: none;
  background-color: rgb(255, 133, 133);
  border: 2px solid rgb(175, 1, 1);
  max-width: 800px;
  padding: 1rem 3rem;
  margin: 0 auto 1rem auto;
}

#error-panel #error-type {
  margin-top: 0;
}

*[cursor="default"] > * {
  cursor: default !important;
}

*[cursor="none"] > * {
  cursor: none !important;
}

*[cursor="crosshair"] > * {
  cursor: crosshair !important;
}

*[cursor="dot"] > * {
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAb0lEQVQ4T9WSQQ4AMQRFuZfju5cJKcG0adNduyOer3yE/5NJTlOY8yUAABGZc4hWGvUZDIiZiygRWZxhBw3qQB9ZGzis4FLpCNypeRNXDcWHQP3Dbty+VWWuzuELuzJAwEO+nHAcfWm5XNwN2z0NHyeAUAvGKOgOAAAAAElFTkSuQmCC"),
    auto !important;
}

*[cursor="pointer"] > * {
  cursor: pointer !important;
}

*[cursor="cell"] > * {
  cursor: cell !important;
}
