---
- name: include distribution-specific vars
  include_vars: "{{ ansible_distribution }}.yml"

- name: check that the H264 variables are in a consistent state
  fail:
    msg: >-
      The H264 variables are in an inconsistent state. You must set the
      ustreamer_h264_sink variable in order to set other H264 variables.
  when: >-
    ustreamer_h264_sink == None
    and (ustreamer_h264_sink_mode != None
         or ustreamer_h264_sink_rm != None
         or ustreamer_h264_bitrate != None)

- name: determine whether to install Janus
  set_fact:
    ustreamer_install_janus: "{{ ustreamer_h264_sink != None }}"

- name: detect OS
  set_fact:
    ustreamer_is_os_raspbian: "{{ ansible_lsb.id is defined and ansible_lsb.id == 'Raspbian' }}"
    ustreamer_is_os_debian: "{{ ansible_lsb.id is defined and ansible_lsb.id == 'Debian' }}"

- name: decide whether to support audio streaming
  set_fact:
    # Audio streaming requires Janus because MJPEG can't carry audio.
    ustreamer_enable_audio_streaming: "{{ ustreamer_install_janus }}"

- name: install Janus
  include_tasks: install_janus.yml
  when: ustreamer_install_janus

- name: collect universal required apt packages
  set_fact:
    ustreamer_packages:
      - build-essential
      - git
      - libevent-dev
      - libbsd-dev
      - uuid-dev

- name: collect Raspberry Pi OS specific required apt packages
  set_fact:
    ustreamer_packages: "{{ ustreamer_packages }} + ['libjpeg9-dev']"
  when: ustreamer_is_os_raspbian

- name: collect Raspberry Pi OS and Debian specific required apt packages for audio
  set_fact:
    ustreamer_packages: "{{ ustreamer_packages }} + ['libasound2-dev', 'libspeex-dev', 'libspeexdsp-dev', 'libopus-dev']"
  when: ustreamer_install_janus and ustreamer_enable_audio_streaming

- name: collect Debian-specific required apt packages
  set_fact:
    ustreamer_packages: "{{ ustreamer_packages }} + ['libjpeg62-turbo-dev']"
  when: ustreamer_is_os_debian

- name: collect Ubuntu-specific required apt packages
  set_fact:
    ustreamer_packages: "{{ ustreamer_packages }} + ['gcc', 'libjpeg8', 'libjpeg-dev', 'libjpeg-turbo8', 'libuuid1', 'libbsd0', 'make']"
  when: ansible_distribution == 'Ubuntu'

- name: collect Janus WebRTC plugin specific required apt packages
  set_fact:
    ustreamer_packages: "{{ ustreamer_packages }} + ['libglib2.0-dev', 'libjansson-dev']"
  when: ustreamer_install_janus

- name: install uStreamer pre-requisite packages
  apt:
    name: "{{ ustreamer_packages }}"
    state: present

- name: install uStreamer Debian package
  apt:
    deb: https://github.com/tiny-pilot/ustreamer-debian/releases/download/5.38-20230620124412/ustreamer_5.38-20230620124412_armhf.deb

- name: fix uStreamer folder permissions
  file:
    path: "{{ ustreamer_dir }}"
    state: directory
    owner: "{{ ustreamer_user }}"
    group: "{{ ustreamer_group }}"
    recurse: yes
  tags:
    - molecule-idempotence-notest

- name: install uStreamer as a service
  template:
    src: ustreamer.systemd.j2
    dest: /lib/systemd/system/ustreamer.service
    owner: root
    group: root
    mode: "0644"
  notify:
    - reload systemd config
    - restart uStreamer
    - restart Janus

- name: enable systemd uStreamer service file
  systemd:
    name: ustreamer
    enabled: yes

- name: create uStreamer Janus plugin config
  template:
    src: janus.plugin.ustreamer.jcfg.j2
    dest: "{{ ustreamer_janus_configs_dir }}/janus.plugin.ustreamer.jcfg"
  notify:
    - restart Janus
  when: ustreamer_install_janus

- name: check for a boot config file
  stat:
    path: /boot/config.txt
  register: boot_config_result

- name: save whether boot config file exists
  set_fact:
    boot_config_exists: "{{ boot_config_result.stat.exists }}"

- name: check whether this machine has a uStreamer settings file
  stat:
    path: "{{ ustreamer_settings_file }}"
  register: ustreamer_settings_file_result

- name: read saved settings
  import_tasks: check_saved_settings.yml
  when: ustreamer_settings_file_result.stat.exists | bool

- name: configure TC358743 HDMI capture chip
  import_tasks: provision_tc358743.yml
  when: ustreamer_capture_device == 'tc358743'

- name: uninstall TC358743 settings if they're not in use
  import_tasks: remove_tc358743.yml
  when: ustreamer_capture_device != 'tc358743'

- name: save uStreamer settings file
  template:
    src: config.yml.j2
    dest: "{{ ustreamer_settings_file }}"
    owner: "{{ ustreamer_user }}"
    group: "{{ ustreamer_group }}"
    mode: "0644"

- name: install uStreamer launcher
  import_tasks: install_launcher.yml
