---

- name: create EDIDs folder
  file:
    path: "{{ ustreamer_edids_dir }}"
    state: directory
    owner: root
    group: root

- name: copy TC358743 EDID file
  copy:
    content: "{{ ustreamer_edid }}"
    dest: "{{ ustreamer_edids_dir }}/tc358743-edid.hex"
    owner: "{{ ustreamer_user }}"
    group: "{{ ustreamer_group }}"
    mode: "0644"

- name: install TC358743 initializer service
  template:
    src: load-tc358743-edid.systemd.j2
    dest: /lib/systemd/system/load-tc358743-edid.service
    owner: root
    group: root
    mode: "0644"
  notify:
    - reload systemd config
    - load TC358743 EDID file
    - configure TC358743 EDID loader to run at boot
