#!/usr/bin/make -f

export DH_VIRTUALENV_INSTALL_ROOT=/opt/tinypilot
# Prevent debhelper from generating an extra package with debug symbols.
export DEB_BUILD_OPTIONS=noddebs

%:
	dh $@ --with python-virtualenv

override_dh_installsystemd:
	dh_installsystemd --name=tinypilot-updater --no-start --no-enable

override_dh_virtualenv:
	dh_virtualenv --skip-install --install-suffix venv
	rm ./debian/tinypilot$(DH_VIRTUALENV_INSTALL_ROOT)/venv/.gitignore
	rm -rf ./debian/tinypilot$(DH_VIRTUALENV_INSTALL_ROOT)/venv/lib/python*/site-packages/werkzeug/debug/
	rm -rf ./debian/tinypilot$(DH_VIRTUALENV_INSTALL_ROOT)/venv/lib/python*/site-packages/greenlet/tests/
	find . -type d -name __pycache__ -prune -exec rm -rf {} \;
	chmod +x ./debian/tinypilot$(DH_VIRTUALENV_INSTALL_ROOT)/venv/lib/python*/site-packages/pkg_resources/_vendor/appdirs.py
	chmod +x ./debian/tinypilot$(DH_VIRTUALENV_INSTALL_ROOT)/venv/lib/python*/site-packages/setuptools/command/easy_install.py
