#!/usr/bin/make -f

export DH_VIRTUALENV_INSTALL_ROOT=/opt/tinypilot
# Prevent debhelper from generating an extra package with debug symbols.
export DEB_BUILD_OPTIONS=noddebs

%:
	dh $@ --with python-virtualenv

override_dh_installsystemd:
	dh_installsystemd --name=tinypilot-updater --no-start --no-enable

override_dh_virtualenv:
	dh_virtualenv --skip-install --install-suffix venv
	rm $(DH_VIRTUALENV_INSTALL_ROOT)/venv/.gitignore
	find . -type d -name __pycache__ -delete
