[Unit]
Description=uStreamer - Lightweight, optimized video encoder
After=syslog.target network.target

[Service]
Type=simple
User=ustreamer
WorkingDirectory=/opt/ustreamer-launcher
ExecStart=/opt/ustreamer-launcher/launch
Restart=always

[Install]
WantedBy=multi-user.target
