[Unit]
Description=TinyPilot - RPi-based virtual KVM
BindsTo=nginx.service
After=syslog.target network.target nginx.service
StartLimitIntervalSec=0

[Service]
Type=simple
User=tinypilot
WorkingDirectory=/opt/tinypilot
ExecStart=/opt/tinypilot/venv/bin/python app/main.py
Environment=APP_SETTINGS_FILE=/home/tinypilot/app_settings.cfg
{% if tinypilot_enable_debug_logging %}
Environment=DEBUG=1
{% endif %}
Restart=always

[Install]
WantedBy=multi-user.target
