[Unit]
Description=Load EDID.
After=syslog.target
ConditionPathExists=/home/tinypilot/edid.hex
# Give up if we restart on failure 20 times within 5 minutes (300 seconds).
StartLimitIntervalSec=300
StartLimitBurst=20

[Service]
Type=oneshot
User=root
ExecStart=v4l2-ctl \
  --set-edid=file=/home/tinypilot/edid.hex \
  --fix-edid-checksums
Restart=on-failure
RestartSec=2

[Install]
WantedBy=local-fs.target
