<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>TinyPilot</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora&family=Nunito&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="csrf-token" content="{{ csrf_token() }}" />
  </head>
  <body>
    <!-- prettier-ignore -->
    {% include "custom-elements/connection-indicator.html" %}
    {% include "custom-elements/content-tooltip.html" %}
    {% include "custom-elements/modifier-key.html" %}

    <div id="app">
      {% include "components/navbar.html" %}

      <div class="page-content container">
        <div id="error-panel">
          <h3 id="error-type">Error Type</h3>
          <p id="error-message">Error message</p>
          <button id="hide-error-btn" class="btn" type="button">Close</button>
        </div>
        <div id="shutdown-confirmation-panel">
          <h3>Shut Down TinyPilot Device?</h3>
          <p>
            Note that this will shut down <strong>TinyPilot</strong>, not the
            machine to which it is attached.
          </p>
          <button id="confirm-shutdown" class="btn-danger btn" type="button">
            Shut Down
          </button>
          <button id="confirm-restart" class="btn-danger btn" type="button">
            Restart
          </button>
          <button id="cancel-shutdown" class="btn" type="button">Cancel</button>
        </div>
        <div id="remote-screen">
          <img id="remote-screen-img" src="/stream?advance_headers=1" />
        </div>
        <div id="keystroke-history" class="container">
          <div id="recent-keys"></div>
          <div>
            <input type="checkbox" id="display-history-checkbox" checked />
            <label for="display-history-checkbox">Show history</label>
          </div>
          <div>
            <div class="manual-modifiers">
              <modifier-key id="ctrl-modifier">Ctrl</modifier-key>
              <modifier-key id="alt-modifier">Alt</modifier-key>
              <modifier-key id="shift-modifier">Shift</modifier-key>
              <modifier-key id="sysrq-modifier">SysRq</modifier-key>
              <modifier-key id="meta-modifier">Meta/OS</modifier-key>

              <content-tooltip position="top">
                <img class="question-icon" src="/img/question-icon.svg" />
                <div slot="text">
                  <p>
                    Your OS and browser capture certain key combinations before
                    they reach TinyPilot (e.g., Ctrl + Alt + Del).
                  </p>
                  <p>
                    Press these buttons to send the corresponding modifier keys
                    on your next keystroke.
                  </p>
                </div>
              </content-tooltip>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/third-party/socket.io/2.3.0/socket.io.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
