<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>TinyPilot</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content="{{ csrf_token() }}" />
  </head>
  <body>
    <!-- prettier-ignore -->
    {% for child_template in custom_elements_files %}
      {% include child_template.replace('./app/templates/', '') %}
    {% endfor %}

    <div id="app" tabindex="0">
      <div class="header-bar">
        <menu-bar id="menu-bar"></menu-bar>
      </div>
      <div class="footer-bar">
        <status-bar id="status-bar"></status-bar>
      </div>

      <div class="page-content container">
        <div id="error-panel">
          <h3 id="error-type">Error Type</h3>
          <p id="error-message">Error message</p>
          <button id="hide-error-btn" type="button">Close</button>
        </div>

        <shutdown-dialog id="shutdown-dialog"></shutdown-dialog>
        <update-dialog id="update-dialog"></update-dialog>
        <change-hostname-dialog
          id="change-hostname-dialog"
        ></change-hostname-dialog>
        <debug-dialog id="debug-dialog"></debug-dialog>

        <remote-screen
          id="remote-screen"
          milliseconds-between-mouse-events="600"
        ></remote-screen>

        {% include "components/keyboard-panel.html" %}
      </div>
    </div>
    {% include "components/paste-overlay.html" %}
    <script src="/third-party/socket.io/3.1.3/socket.io.min.js"></script>
    <script src="/js/paste.js"></script>
    <script type="module" src="/js/app.js"></script>

    <div style="opacity: 0;">
      <!-- Force browser to preload font variants in order to
           prevent potential display flickering -->
      <span class="monospace"></span>
      <strong></strong>
    </div>
  </body>
</html>
