
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
        <title>Pi Virtual Keyboard</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
      <div class="container">
        <h1>Key Mime Pi</h1>
        <p class="subtitle">The Raspberry Pi Keyboard Mimic</p>
        <div>
          <p class="status">Status: <span id="status-connected">Connected</span><span id="status-disconnected">Disconnected</span></p>
          <p id="disconnect-reason"></p>
        </div>
        <p id="instructions">Begin typing to send keystrokes to your Raspberry Pi</p>
        <div class="container keystroke-history">
          <h2>Keystroke history</h2>
          <div id="recent-keys"></div>
          <form class="history-form">
            <input type="checkbox" id="display-history-checkbox" checked>
            <label for="display-history-checkbox">Show history</label>
          </form>
        </div>
      </div>

      <script src="/third-party/socket.io/2.3.0/socket.io.js"></script>
      <script src="/js/app.js"></script>
    </body>
</html>