<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>TinyPilot Styleguide</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <style>
    @import "css/icons.css";
    @import "css/toggle.css";

    main {
      margin: 1rem auto;
      width: 40rem;
    }
    .colorcard {
      float: left;
      height: 5rem;
      min-width: 10rem;
    }
    .section {
      margin-top: 2.5em;
      margin-bottom: 1em;
    }
    h2.section {
      border-bottom: 1px solid black;
    }
  </style>
  <body>
    <!-- prettier-ignore -->
    {% for child_template in custom_elements_files %}
      {% include child_template.replace('./app/templates/', '') %}
    {% endfor %}
    <main>
      <div
        style="
          background-color: var(--brand-metallic-dark);
          text-align: center;
          padding: 1rem;
        "
      >
        <img src="/img/slim-logo-white.png" alt="Tiny Pilot" />
      </div>

      <h1 style="text-align: center;">Style guide</h1>
      <p>
        This style guide is an ongoing collection of all things visual that make
        up the brand, such as colours, fonts, patterns or UI components.
      </p>

      <h2 class="section">Typeface</h2>
      <p>
        We use “Overpass” for regular text. Technical text (e.g. logs or error
        messages) is set in the monospace variant “<span class="monospace"
          >Overpass Mono</span
        >”.
      </p>

      <h2 class="section">Colors</h2>
      <div>
        <div
          class="colorcard"
          style="background-color: var(--brand-metallic-dark);"
        ></div>
        <div
          class="colorcard"
          style="background-color: var(--brand-metallic-medium);"
        ></div>
        <div
          class="colorcard"
          style="background-color: var(--brand-metallic-light);"
        ></div>
        <div
          class="colorcard"
          style="background-color: var(--brand-metallic-bright);"
        ></div>
        <br style="clear: both;" />
        <div
          class="colorcard"
          style="background-color: var(--brand-blue);"
        ></div>
        <br style="clear: both;" />
        <div
          class="colorcard"
          style="background-color: var(--brand-red);"
        ></div>
        <div
          class="colorcard"
          style="background-color: var(--brand-red-light);"
        ></div>
        <br style="clear: both;" />
        <div
          class="colorcard"
          style="background-color: var(--brand-green);"
        ></div>
        <div
          class="colorcard"
          style="background-color: var(--brand-green-light);"
        ></div>
        <br style="clear: both;" />
        <div
          class="colorcard"
          style="background-color: var(--brand-sand-light);"
        ></div>
      </div>

      <div style="clear: both;"></div>

      <h2 class="section">Buttons</h2>
      <ul>
        <li>
          Button labels should have meaningful wording, e.g. “Apply Changes” or
          “Restart Now” instead of just “Okay”.
        </li>
        <li>Use <i>Title Case</i>.</li>
        <li>
          If ever feasible, call-to-action buttons should only appear once. If
          there are multiple regular actions side by side, the “regular” action
          button should be used.
        </li>
        <li>
          To make the button appear less prominent, a smaller variant can be
          used.
        </li>
      </ul>
      <h3>Default Button</h3>
      <button>Default</button>
      <button class="btn-small">Default (Small)</button>
      <p>For harmless operations like “close” or “cancel”.</p>
      <h3>Action Button</h3>
      <button class="btn-action">Action</button>
      <p>
        For operations that do or apply something. (Don’t use for the primary
        call-to-action.)
      </p>
      <h3>Success Button (Primary Action)</h3>
      <button class="btn-success">Success</button>
      <p>For the main (and non-destructive) call-to-action.</p>
      <h3>Danger Button (Primary Action)</h3>
      <button class="btn-danger">Danger</button>
      <p>For destructive call-to-actions like “delete” or “shutdown”.</p>
      <h3>Dropdown button</h3>
      <p>
        A button that groups multiple related actions.
      </p>
      <dropdown-button>
        <button slot="button" class="btn-small btn-action">
          Dropdown
          <span class="icon-arrow"></span>
        </button>
        <li slot="item">Action 1</li>
        <li slot="item">Action 2</li>
        <li slot="item">Action 3</li>
      </dropdown-button>
      <dropdown-button>
        <button slot="button" class="btn-small">
          <span class="icon-arrow"></span>
        </button>
        <li slot="item">Action 1</li>
        <li slot="item">Action 2</li>
        <li slot="item">Action 3</li>
      </dropdown-button>
      <h3>Toggle button</h3>
      <p>
        A button representing a binary state that can be toggled on and off. In
        contrast to a checkbox, the toggle button is used outside of forms and
        the click-action is carried out immediately.
      </p>
      <label class="toggle">
        <input type="checkbox" />
        <span class="toggle-slider"></span>
      </label>

      <h2 class="section">Overlay</h2>
      <p>
        Click on the buttons to learn how the overlay is supposed to be
        designed.
      </p>
      <!-- Overlay with single call-to-action: -->
      <button id="show-overlay-with-primary-action-btn" class="btn-action">
        Overlay with Primary Action
      </button>
      <overlay-panel id="overlay-with-primary-action">
        <h3>Overlay with Primary Action</h3>
        <div>
          This overlay style is used for linear and straightforward flows that
          have a single purpose or end state, like a prompt or confirmation. It
          contains a call-to-action button and a cancel button (in that order)
          at the bottom. When clicked, they also terminate the dialog.
        </div>
        <button class="close-overlay-with-primary-action btn-success">
          Confirm
        </button>
        <button class="close-overlay-with-primary-action">Cancel</button>
      </overlay-panel>
      <script>
        document
          .getElementById("show-overlay-with-primary-action-btn")
          .addEventListener("click", () => {
            document.getElementById("overlay-with-primary-action").show();
          });
        Array.from(
          document.getElementsByClassName("close-overlay-with-primary-action")
        ).forEach((button) =>
          button.addEventListener("click", (evt) => {
            evt.target.dispatchEvent(new DialogClosedEvent());
          })
        );
      </script>
      <!-- Overlay with feature: -->
      <button id="show-overlay-with-feature-btn" class="btn-action">
        Overlay with Feature
      </button>
      <overlay-panel id="overlay-with-feature">
        <h3>Overlay with Feature</h3>
        <div>
          <button class="btn-small btn-action" onclick="alert('Done.')">
            Action 1
          </button>
          <button class="btn-small btn-action" onclick="alert('Done.')">
            Action 2
          </button>
          <button class="btn-small btn-action" onclick="alert('Done.')">
            Action 3
          </button>
        </div>
        <div>
          When the user can carry out “secondary” actions within the overlay
          that don’t terminate the dialog itself, the blue action buttons should
          be used for that. They also shouldn’t appear at the bottom.
        </div>
        <button id="close-overlay-with-feature-btn">Close</button>
      </overlay-panel>
      <script>
        document
          .getElementById("show-overlay-with-feature-btn")
          .addEventListener("click", () => {
            document.getElementById("overlay-with-feature").show();
          });
        document
          .getElementById("close-overlay-with-feature-btn")
          .addEventListener("click", (evt) => {
            evt.target.dispatchEvent(new DialogClosedEvent());
          });
      </script>
      <!-- Error overlay: -->
      <overlay-panel id="error-overlay" variant="danger">
        <error-dialog id="error-dialog"></error-dialog>
      </overlay-panel>
      <button id="show-error-overlay-btn" class="btn-danger">
        Open Error Overlay
      </button>
      <script>
        document
          .getElementById("show-error-overlay-btn")
          .addEventListener("click", () => {
            document.getElementById("error-dialog").setup({
              title: "Example Error Message",
              message:
                "The title is set in Title Case. The message should be" +
                " user-friendly and ideally provide some guidance. Technical" +
                " error messages can be displayed in the “details” box below.",
              details:
                "" +
                "dummyElementFailed: line 502\n" +
                "  dummyParentElement returned unexpected response: foo\n" +
                "    exhausted resources.\n" +
                "Location: 0x88b9d154cd90076610f3fc27df06bbd8b37b62ffe1fa8ade" +
                "1d469d5cf911820fcc850249accacba5a690720bb9eca9813662348ff6a1" +
                "ace3c0076610f3fc2711820fcdf06bb\n" +
                "Stacktrace:\n" +
                "  fooBarBaz\n".repeat(80),
            });
            document.getElementById("error-overlay").show();
          });
      </script>

      <h2 class="section">Progress indicator</h2>
      <p>
        The spinner is used to indicate that an operation is in progress. The
        styling can be adjusted through CSS variables.
      </p>
      <progress-spinner></progress-spinner>
      <progress-spinner
        style="--size: 2rem; --thickness: 5px;"
      ></progress-spinner>
    </main>
  </body>
</html>
