<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>TinyPilot Styleguide</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Overpass+Mono:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <style>
    main {
      margin: 1rem auto;
      width: 40rem;
    }
    .colorcard {
      float: left;
      height: 5rem;
      min-width: 10rem;
    }
  </style>
  <body>
    <main>
      <div
        style="
          background-color: var(--brand-metallic-dark);
          text-align: center;
          padding: 1rem;
        "
      >
        <img src="/img/slim-logo-white.png" alt="Tiny Pilot" />
      </div>
      <h2 style="text-align: center;">Style guide</h2>
      <p>
        This style guide is an ongoing collection of all things visual that make
        up the brand, such as colours, fonts, patterns or UI components.
      </p>
      <div>
        <div
          class="colorcard"
          style="background-color: var(--brand-metallic-dark);"
        ></div>
        <div
          class="colorcard"
          style="background-color: var(--brand-metallic-medium);"
        ></div>
        <div
          class="colorcard"
          style="background-color: var(--brand-metallic-light);"
        ></div>
        <div
          class="colorcard"
          style="background-color: var(--brand-metallic-bright);"
        ></div>
        <br style="clear: both;" />
        <div
          class="colorcard"
          style="background-color: var(--brand-blue);"
        ></div>
        <br style="clear: both;" />
        <div
          class="colorcard"
          style="background-color: var(--brand-red);"
        ></div>
        <div
          class="colorcard"
          style="background-color: var(--brand-red-light);"
        ></div>
        <br style="clear: both;" />
        <div
          class="colorcard"
          style="background-color: var(--brand-green);"
        ></div>
        <div
          class="colorcard"
          style="background-color: var(--brand-green-light);"
        ></div>
        <br style="clear: both;" />
        <div
          class="colorcard"
          style="background-color: var(--brand-sand-light);"
        ></div>
      </div>
    </main>
  </body>
</html>
